<div id="alerts" class="fixed-bottom mb-2 mb-md-3 mx-0 mx-sm-2 mx-md-5 px-2 px-sm-4 px-lg-5" style="z-index: 1030; pointer-events: none;"></div>

<script>
const ALERT_CATEGORIES = ["success", "info", "warning", "danger", "primary", "secondary"]

function alert(category, message, pre="") {
	if (!ALERT_CATEGORIES.includes(category))
		category = "warning"
	
	let newAlert = $(`
		<div class="alert alert-` + category + ` alert-dismissible fade show me-4" role="alert" data-bs-dismiss="alert" style="pointer-events: visible;">
			<b>` + pre +`</b>
			` + message + `
			<button type="button" class="btn-close" aria-label="Close"></button>
		</div>
	`)

	$(newAlert).appendTo("#alerts")

	if (category != "danger") {
		setTimeout(() => {
			newAlert.alert("close")
		}, (category == "warning" || category == "danger") ? 5000 : 3000);
	}
}

function displayError(response) {
	if (response.error)
		alert("danger", response.error)
	else if (response.responseJSON)
		alert("danger", response.responseJSON.error)
	else
		alert("danger", response.statusText + " (" + response.status + ")")
}

for (let message of JSON.parse('{{ get_flashed_messages(with_categories=true) | tojson | safe }}'))
	alert(message[0], message[1])
</script>
