<form id="formGoToCourse" name="formGoToCourse" method="GET" autocomplete="off">
	<div class="modal fade" id="modalGoToCourse" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header py-2">
					<h5 class="modal-title">Go to course</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body px-3 px-md-0 pb-1">
					<div class="d-flex flex-row justify-content-center">
						<!--Subject code-->
						<input type="text" class="selectSubject form-control form-control-lg fs-4 font-monospace text-end border-2 border-secondary bg-light text-body align-middle" id="gotoCourseSubject" minlength="2" maxlength="4" value="" style="width: 4em;" autocomplete="off">

						<!--Separator-->
						<span class="h-100 p-2 m-0 fs-2 align-middle">–</span>

						<!--Course number-->
						<input type="text" class="selectNumber form-control form-control-lg fs-4 font-monospace text-begin border-2 border-secondary bg-light text-body align-middle px-3" id="gotoCourseNumber" maxlength="3" value="" disabled style="width: 4em;" autocomplete="off">

						<!--Course exists status-->
						<div class="position-relative">
							<div class="status fs-5 h-100 position-absolute start-100 p-2 d-flex flex-column justify-content-center" id="gotoCourseStatus">
								<span class="error">
									<i class="bi-exclamation-circle-fill text-danger" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Course does not exist" title="Course does not exist"></i>
								</span>
								<span class="success">
									<i class="bi-check-circle-fill text-success" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Course exists" title="Course exists"></i>
								</span>
								<span class="loading spinner-border" role="status">
									<span class="visually-hidden">Loading...</span>
								</span>
							</div>
						</div>
					</div>
					<!--"Press enter" feedback-->
					<div class="feedback d-none d-md-block mt-1 text-center text-muted">
						<small>Press enter to go to course</small>
					</div>
					<!--Submit button-->
					<div class="d-md-none m-1 pt-2 px-4 d-flex justify-content-around">
						<button id="gotoCourseSubmit" type="submit" class="submit col-4 col-sm-12 btn btn-sm btn-primary" disabled>GO</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<script>
const gotoCourse = $("#formGoToCourse")
const modalGoToCourse = $("#modalGoToCourse")

let gotoCourseData = {}

// Change status of form
function gotoCourseStatus(status) {
	const statusContainer = gotoCourse.find("#gotoCourseStatus")
	statusContainer.children("span").hide()
	if (status)
		statusContainer.find("." + status).show()
}

// Check if course exists and change status
function gotoCourseCheck() {
	$.ajax({
		url: "/api/courses/code/" + gotoCourse.find(".selectSubject").val() + "/" + gotoCourse.find(".selectNumber").val(),
		method: "GET",
		success: (response) => {
			gotoCourseData = response
			gotoCourse.find(".submit").prop("disabled", false)
			gotoCourseStatus("success")
			setTimeout(() => {
				gotoCourse.find(".feedback").removeClass("invisible")
			}, 1500)
		},
		error: (response) => {
			gotoCourseData = {}
			gotoCourse.find(".submit").prop("disabled", true)
			gotoCourseStatus("error")
			gotoCourse.find(".feedback").addClass("invisible")
		}
	})
}

//
// EVENTS
//

// On any key pressed (keyup)
$(document).on("keyup", (e) => {
	// Open modal if g key pressed
	if (e.key == "g" && !$("input").is(":focus") && !$("textarea").is(":focus"))
		modalGoToCourse.modal("show")
})

// On modal starts to show
$("#modalGoToCourse").on("show.bs.modal", () => {
	// Clear form inputs
	gotoCourse.find(".selectSubject").val("")
	gotoCourse.find(".selectNumber").val("")
	
	// Hide status and feedback
	gotoCourse.find("#gotoCourseStatus").children("span").hide()
	gotoCourse.find(".feedback").addClass("invisible")

	// Disable submit button
	gotoCourse.find(".submit").prop("disabled", true)
})

// On modal is shown
$("#modalGoToCourse").on("shown.bs.modal", () => {
	// Move focus to subject selection when modal is shown
	gotoCourse.find(".selectSubject").focus()
})

// On key up inside subject selection
$("#gotoCourseSubject").on("keyup", function(e) {
	// Convert subject into uppercase
	$(this).val($(this).val().toUpperCase())

	// Remove numeric characters
	$(this).val($(this).val().replace(/[0-9]/g, ""))

	if ($(this).val().length < $(this).attr("minLength")) {
		gotoCourse.find(".selectNumber").prop("disabled", true)
		gotoCourse.find(".submit").prop("disabled", true)
		gotoCourse.find(".feedback").addClass("invisible")
		gotoCourseStatus("")
	} else {
		gotoCourse.find(".selectNumber").prop("disabled", false)
		if (gotoCourse.find(".selectNumber").val().length == gotoCourse.find(".selectNumber").attr("maxLength"))
			gotoCourseCheck()
	}

	// Move focus to number selection if max length is reached
	if ($(this).val().length == $(this).attr("maxLength"))
		gotoCourse.find(".selectNumber").focus()
})

// On key up inside number selection
$("#gotoCourseNumber").on("keydown", function(e) {
	// If pressing backspace and the value is empty, move focus to subject selection
	if ($(this).val().length == 0 && e.keyCode == 8)
		gotoCourse.find(".selectSubject").focus()
	else if (e.keyCode == 13)
		gotoCourse.submit()
})

// On key down inside number selection
$("#gotoCourseNumber").on("keyup", function(e) {
	// Remove non-numeric characters
	$(this).val($(this).val().replace(/\D/g, ""))

	// Check course if length is complete
	if ($(this).val().length == $(this).attr("maxLength")) {
		gotoCourseCheck()
	} else {
		gotoCourse.find(".submit").prop("disabled", true)
		gotoCourse.find(".feedback").addClass("invisible")
		gotoCourseStatus("")
	}
})

// Go to course url on submit
$("#formGoToCourse").on("submit", (e) => {
	e.preventDefault()
	e.stopImmediatePropagation()

	window.location.href = gotoCourseData.url
})

</script>