<form id="formGoTo" name="formGoTo" method="GET" autocomplete="off">
	<div class="modal fade" id="modalGoTo" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header py-2">
					<h5 class="modal-title">Go-To</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body px-3 px-md-0 pb-1">
					<div class="d-flex flex-row justify-content-center">
						<div class="w-50 d-flex justify-content-end">
							<!--Subject code-->
							<input type="text" class="selectSubject form-control form-control-lg fs-4 font-monospace text-end border-2 border-secondary bg-light text-body align-middle" id="gotoCourseSubject" minlength="2" maxlength="4" value="" placeholder="CODE" title="Subject code" autocomplete="off">
						</div>

						<div class="flex-shrink-1 d-flex flex-column justify-content-center">
							<!--Separator-->
							<span class="p-1 m-0 fs-2 lh-1 font-monospace">-</span>
						</div>

						<div class="w-50 d-flex justify-content-start">
							<!--Course number-->
							<input type="text" class="selectNumber form-control form-control-lg fs-4 font-monospace text-begin border-2 border-secondary bg-light text-body align-middle px-3" id="gotoCourseNumber" maxlength="3" value="" placeholder="NUM" title="Course number" disabled autocomplete="off">

							<!--Course exists status-->
							<div class="status p-2 d-flex flex-column justify-content-center" id="gotoStatus">
								<span class="error">
									<i class="bi-exclamation-circle-fill text-danger fs-5" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Course does not exist" title="Course does not exist"></i>
								</span>
								<span class="success">
									<i class="bi-check-circle-fill text-success fs-5" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Course exists" title="Course exists"></i>
								</span>
								<span class="loading spinner-border" role="status">
									<span class="visually-hidden">Loading...</span>
								</span>
							</div>
						</div>
					</div>
					<!--"Press enter" feedback-->
					<div class="feedback d-none d-md-block mt-1 text-center text-muted">
						<small>Press enter to go to course</small>
					</div>
					<!--Submit button-->
					<div class="d-md-none m-1 pt-2 px-4 d-flex justify-content-around">
						<button id="gotoCourseSubmit" type="submit" class="submit col-4 col-sm-12 btn btn-sm btn-primary" disabled>GO</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<style>
	#modalGoTo .selectSubject, #modalGoTo .selectNumber {
		width: 4.1em;
	}

	@media (min-width: 576px) {
		#modalGoTo .selectSubject, #modalGoTo .selectNumber {
			width: 4em;
		}
	}

	@media (min-width: 992px) {
		#modalGoTo .selectSubject, #modalGoTo .selectNumber {
			width: 3.9em;
		}
	}
</style>

<script>
const gotoCourse = $("#formGoTo")
const modalGoTo = $("#modalGoTo")

let gotoCourseData = {}

// Change status of form
function gotoStatus(status) {
	const statusContainer = gotoCourse.find("#gotoStatus")
	statusContainer.children("span").hide()
	if (status)
		statusContainer.find("." + status).show()
}

// Check if course exists and change status
function gotoCourseCheck() {
	$.ajax({
		url: "/api/courses/code/" + gotoCourse.find(".selectSubject").val() + "/" + gotoCourse.find(".selectNumber").val(),
		method: "GET",
		success: (response) => {
			gotoCourseData = response
			gotoCourse.find(".submit").prop("disabled", false)
			gotoStatus("success")
			setTimeout(() => {
				gotoCourse.find(".feedback").removeClass("invisible")
			}, 1500)
		},
		error: (response) => {
			gotoCourseData = {}
			gotoCourse.find(".submit").prop("disabled", true)
			gotoStatus("error")
			gotoCourse.find(".feedback").addClass("invisible")
		}
	})
}

//
// EVENTS
//

// On modal starts to show
$("#modalGoTo").on("show.bs.modal", () => {
	// Clear form inputs
	gotoCourse.find(".selectSubject").val("")
	gotoCourse.find(".selectNumber").val("")
	
	// Hide status and feedback
	gotoCourse.find("#gotoStatus").children("span").hide()
	gotoCourse.find(".feedback").addClass("invisible")

	// Disable submit button
	gotoCourse.find(".submit").prop("disabled", true)
})

// On modal is shown
$("#modalGoTo").on("shown.bs.modal", () => {
	// Move focus to subject selection when modal is shown
	gotoCourse.find(".selectSubject").focus()
})

// On key up inside subject selection
$("#gotoCourseSubject").on("keyup", function(e) {
	// Convert subject into uppercase
	$(this).val($(this).val().toUpperCase())

	// Remove numeric characters
	$(this).val($(this).val().replace(/[0-9]/g, ""))

	if ($(this).val().length < $(this).attr("minLength")) {
		gotoCourse.find(".selectNumber").prop("disabled", true)
		gotoCourse.find(".submit").prop("disabled", true)
		gotoCourse.find(".feedback").addClass("invisible")
		gotoStatus("")
	} else {
		gotoCourse.find(".selectNumber").prop("disabled", false)
		if (gotoCourse.find(".selectNumber").val().length == gotoCourse.find(".selectNumber").attr("maxLength"))
			gotoCourseCheck()
	}

	// Move focus to number selection if max length is reached
	if ($(this).val().length == $(this).attr("maxLength"))
		gotoCourse.find(".selectNumber").focus()
})

// On key up inside number selection
$("#gotoCourseNumber").on("keydown", function(e) {
	// If pressing backspace and the value is empty, move focus to subject selection
	if ($(this).val().length == 0 && e.keyCode == 8)
		gotoCourse.find(".selectSubject").focus()
	else if (e.keyCode == 13)
		gotoCourse.submit()
})

// On key down inside number selection
$("#gotoCourseNumber").on("keyup", function(e) {
	// Remove non-numeric characters
	$(this).val($(this).val().replace(/\D/g, ""))

	// Check course if length is complete
	if ($(this).val().length == $(this).attr("maxLength")) {
		gotoCourseCheck()
	} else {
		gotoCourse.find(".submit").prop("disabled", true)
		gotoCourse.find(".feedback").addClass("invisible")
		gotoStatus("")
	}
})

// Go to course url on submit
$("#formGoTo").on("submit", (e) => {
	e.preventDefault()
	e.stopImmediatePropagation()

	window.location.href = gotoCourseData.url
})

</script>