<div id="navbar" class="container-fluid bg-light sticky-top px-md-5 mb-4 border-bottom border-2" style="z-index: 1030;">
	<nav class="navbar navbar-expand-md navbar-light px-md-5">

		<div class="me-2">
			<a href="{{url_for('view.home')}}" class="navbar-brand me-0">
				<span>{{SITE_NAME}}</span>
			</a>
			{% if CURRENT_VERSION_BETA %}
			<a href="{{url_for('view.changelog')}}" class="align-top">
				<small class="badge bg-secondary px-2 py-1">BETA</small>
			</a>
			{% endif %}
		</div>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu"
			aria-controls="toggleMobileMenu" aria-expanded="false" arial-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse d-md-flex justify-content-between" id="toggleMobileMenu">
			<ul class="navbar-nav text-center">
				<li>
					<a class="nav-link {% if request.path == url_for('view.courseBrowser') %}active{% endif %}" href="{{url_for('view.courseBrowser')}}">
						Course Browser
					</a>
				</li>
				<li>
					<a class="nav-link {% if request.path == url_for('view.api') %}active{% endif %}" href="{{url_for('view.api')}}">
						API
					</a>
				</li>
				<li>
					<a class="nav-link {% if request.path == url_for('view.about') %}active{% endif %}" href="{{url_for('view.about')}}">
						About
					</a>
				</li>
			</ul>

			<ul class="navbar-nav text-center">
				{% if current_user.is_authenticated %}
					{% if current_user.role >= ROLE_MOD %}
					<li>
						<a class="nav-link {% if request.path == url_for('admin.index') %}active{% endif %}" href="{{url_for('admin.index')}}">
							Admin
						</a>
					</li>
					{% endif %}
					<li>
						<a class="nav-link {% if request.path == url_for('view.planner') %}active{% endif %}" href="{{url_for('view.planner')}}">
							Planner
						</a>
					</li>
					<li>
						<a class="nav-link {% if request.path == url_for('view.account') %}active{% endif %}" href="{{url_for('view.account')}}">
							Account
						</a>
					</li>
					<li class="py-1 py-md-0 px-1">
						<a class="btn btn-outline-primary d-block" href="{{url_for('view.logout')}}">
							Log Out
						</a>
					</li>
				{% else %}
					<li class="py-1 py-md-0 px-1">
						<a class="btn btn-outline-info d-block" href="{{url_for('view.login')}}">
							Log In
						</a>
					</li>
					<li class="py-1 py-md-0 px-1">
						<a class="btn btn-outline-primary d-block" href="{{url_for('view.signup')}}">
							Sign Up
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>
</div>