{% macro paginationNav() %}
<nav aria-label="Page navigation" id="pageNav" class="loaded">
	<ul class="pagination justify-content-center mb-2">
		<li class="page-item d-block page-prev cursor-pointer" onclick="page.prev()">
			<a class="page-link" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<li class="pageEllipsis page-item cursor-pointer d-none">
			<a class="page-link">...</a>
		</li>
		<li class="page-item d-block page-next cursor-pointer" onclick="page.next()">
			<a class="page-link" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
	<p class="text-center text-secondary mt-0"><small>
			Page <span class="num-page">1</span> / <span class="num-pages">1</span>
		</small>
	</p>
</nav>
{% endmacro %}

{% macro paginationCode() %}
<script>
	class Page {
		constructor(pages, callback = () => { }) {
			this.current = 1
			this.total = pages
			this.callback = callback
		}

		updateNav() {
			$("#pageNav .pageSelector").remove()
			if (this.total > 15) {
				$("#pageNav .pageEllipsis").removeClass("d-none")
			} else {
				$("#pageNav .pageEllipsis").addClass("d-none")
				for (let p = this.total; p > 0; p--) {
					$("#pageNav .page-prev").after(`
					<li class="pageSelector page-item cursor-pointer ` + ((p == this.current) ? `active` : ``) + `"
					onclick="page.switch(` + ((p == this.current) ? -1 : p) + `)">
						<a class="page-link">` + p + `</a>
					</li>
				`)
				}
			}

			if (this.current == 1)
				$("#pageNav .page-prev").addClass("disabled")
			else
				$("#pageNav .page-prev").removeClass("disabled")

			if (this.current == this.total)
				$("#pageNav .page-next").addClass("disabled")
			else
				$("#pageNav .page-next").removeClass("disabled")


			$(".num-page").text(this.current)
			$(".num-pages").text(this.total)
		}

		switch(_page) {
			if (_page > 0 && _page <= this.total) {
				this.current = _page
				this.updateNav()
			}
			this.callback()
		}

		prev() {
			if (this.current > 1)
				this.switch(this.current - 1)
		}

		next() {
			if (this.current < this.total)
				this.switch(this.current + 1)
		}

		first() {
			this.switch(1)
		}

		last() {
			this.switch(this.total)
		}
	}
</script>
{% endmacro %}