<div id="quicknav" class="fixed-bottom d-flex justify-content-end p-3 p-md-4 p-xl-5" style="pointer-events: none; z-index: 1020;">
	<nav class="d-flex flex-column pb-2" style="pointer-events: visible">
		{% macro quickNavBtn(toggle, target, title, icon) %}
		<a class="btn btn-primary m-1 rounded-circle shadow text-center lh-1 d-flex justify-content-center align-items-center" data-bs-toggle="{{toggle}}" data-bs-target="#{{target}}" title="{{title}}">
			<i class="bi-{{icon}} lh-1"></i>
		</a>
		{% endmacro %}

		{{quickNavBtn("offcanvas", "tagsDrawer", "(T) Tags", "tags")}}
		{{quickNavBtn("modal", "modalGoTo", "(G) Go-To", "search")}}
	</nav>
</div>

<style>
#quicknav a {
	width: 3.8em;
	height: 3.8em;
	transition: 0.2s;
}

@media (min-width: 768px){
	#quicknav a {
		width: 4em;
		height: 4em;
	}
}

#quicknav i {
	font-size: 2em;
}

@media (min-width: 768px){
	#quicknav i {
		font-size: 2.2em;
	}
}

#quicknav a:hover {
	transform: scale(0.9, 0.9);
	box-shadow: 0 0.2rem 0.3rem rgba(0,0,0,.15) !important;
}
</style>

<script>
// On any key pressed (keyup)
$(document).on("keyup", (e) => {
	// If not in a form
	if (!$("input").is(":focus") && !$("textarea").is(":focus")) {
		if (e.key == "g")
			$("#modalGoTo").modal("show")
		else if (e.key == "t")
			$("#tagsDrawer").offcanvas("show")
	}
})
</script>