{% macro tagsTemplates() %}
<!--Tags Drawer Group-->
<div class="tags-drawer-group list-group mb-3">
	<div class="tags-drawer-header list-group-item fs-5 bg-light d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="" role="button" aria-expanded="true" title="Click to collapse tagged courses">
		<span>
			<span class="tag-emoji d-none"></span>
			<span class="tag-color d-none"><i class="bi-circle-fill"></i></span>
			<span class="tag-name"></span>
		</span>
		<span class="count badge bg-primary rounded-pill invisible" title="Courses count"></span>
	</div>
	<div id="" class="tags-drawer-container rounded-bottom collapse show"></div>
</div>

<!--Tags Drawer Course-->
<div class="tags-drawer-course list-group-item list-group-item-action p-0 d-flex justify-content-between">
	<a class="link flex-grow-1 px-4 py-2 text-body text-decoration-none" href="">
		<span class="emoji"></span>
		<span class="code font-monospace"></span>	
	</a>
	<span class="remove px-4 py-2 text-body cursor-pointer" href="" title="Remove course from tag">
		<i class="bi-x-lg"></i>
	</span>
</div>

<!--Tags Drawer Empty-->
<div class="tags-drawer-empty list-group-item list-group-item-action p-0 d-flex justify-content-between">
	<div class="flex-grow-1 px-4 py-2">
		<span class="text-muted fst-italic">No courses tagged</span>
	</div>
</div>

<!--Tag edit item-->
<div class="tag-edit-item">
	<div class="inputs row">
		<div class="col-11">
			<div class="input-group">
				<span class="tag-color input-group-text">
					<i class="bi-circle-fill"></i>
				</span>
				<select class="tag-select-color form-select" name="color"></select>
				<input type="text" class="tag-name form-control w-25" name="name" placeholder="Tag name" aria-label="Tag name" value="">
			</div>
		</div>
		<div class="col-1 ps-0">
			<button class="tag-delete btn px-0" type="button" title="">
				<i class="h5 bi-trash text-danger"></i>
			</button>
		</div>
	</div>
	<div class="deleted row d-none">
		<div class="col-11">
			<div class="input-group">
				<input type="text" class="form-control fst-italic" placeholder="Tag deleted" aria-label="Tag deleted" value="Deleted" disabled>
			</div>
		</div>
		<div class="col-1 ps-0">
			<button class="tag-undo-delete btn px-0" type="button" title="Undo delete tag">
				<i class="h5 bi-arrow-counterclockwise"></i>
			</button>
		</div>
	</div>
	<hr class="my-3">
</div>
{% endmacro %}

{% macro tagsHTML() %}
<!--Tags drawer offcanvas-->
<div id="tagsDrawer" class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="Tags Drawer">
	<div class="offcanvas-header px-lg-4">
		<h3 class="m-0">
			<i class="bi-tags-fill"></i>
			Tags drawer
		</h3>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body px-lg-4 py-0"></div>
	<div class="offcanvas-footer py-3 d-flex justify-content-center">
		<button class="btn btn-secondary mx-2 d-sm-none" data-bs-dismiss="offcanvas" aria-label="Close">
			<i class="bi-x-lg"></i>
			Close
		</button>
		<button class="btn btn-secondary mx-2" data-bs-toggle="modal" data-bs-target="#modalEditTags">
			<i class="bi-pencil"></i>
			Edit tags
		</button>
	</div>
</div>

<!--Modal edit tags-->
<div id="modalEditTags" class="modal fade" tabindex="-1" aria-hidden="true">
	<form id="formEditTags" name="formEditTags">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit tags</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="tag-items"></div>
					<div class="d-flex justify-content-center">
						<button type="button" class="tag-add btn btn-sm btn-secondary">
							<i class="bi-plus-lg"></i> Add tag
						</button>
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-around">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button id="modalEditTagsSubmit" type="submit" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</form>
</div>
{% endmacro %}

{% macro tagsStyles() %}
<style>
	@media (max-width: 992px) {
		#tagsDrawer {
			width: 300px;
		}
	}

	@media (min-width: 768px) {
		#tagsDrawer .list-group-item .remove {
			opacity: 0;
		}

		#tagsDrawer .list-group-item:hover .remove {
			opacity: 1;
		}
	}
</style>
{% endmacro %}

{% macro tagsScripts() %}
<script>
	let tagsCallback = () => {}
	let tagsInitialized = false;
	let tagsEdited = []

	function colorToHex(color) {
		return ("000000" + color.toString(16)).slice(-6)
	}

	//
	// REQUEST FUNCS
	//

	function requestTag(subpath, method, data, callback) {
		$.ajax({
			url: "/api/me/tags" + subpath,
			method: method,
			data: data,
			success: callback,
			error: displayError
		})
	}

	function requestEditTag(id, data, callback) {
		requestTag("/" + id, "PUT", data, callback)
	}

	function requestDeleteTag(id, callback) {
		requestTag("/" + id, "DELETE", {}, callback)
	}

	function requestTagCourses(id, callback) {
		requestTag("/" + id + "/courses", "GET", {}, callback)
	}

	function requestToggleTag(tagId, courseId) {
		requestTag("/" + tagId + "/course/" + courseId, "PUT", {}, (response) => {
			alert("success", response.success)
			if ($("#tagsDrawer").hasClass("show"))
				loadTagsDrawer()
			tagsCallback()
		})
	}

	//
	// TAG LOAD FUNCS
	//

	function colorOptions(tagColor) {
		let options = []
		var colorFound = false

		for (let color in COLORS) {
			if (COLORS[color] == tagColor)
				colorFound = true
			
			options.push($("<option>", {
				value: COLORS[color],
				text: color,
				selected: COLORS[color] == tagColor
			}))
		}
		if (!colorFound) {
			options = [$("<option>", {
				value: tagColor,
				text: "#" + colorToHex(tagColor),
				selected: true
			}), ...options]
		}

		return options
	}

	function loadTagsDrawer() {
		const container = $("#tagsDrawer .offcanvas-body")
		container.empty()
		for (let tag of tags) {
			let tagItem = $("#templates .tags-drawer-group").clone()
			
			if (tag.emoji) {
				tagItem.find(".tag-emoji").html("&#" + tag.emoji + ";")
				tagItem.find(".tag-emoji").removeClass("d-none")
			} else {
				tagItem.find(".tag-color").css("color", "#" + colorToHex(tag.color))
				tagItem.find(".tag-color").removeClass("d-none")
			}

			tagItem.find(".tag-name").text(tag.name.charAt(0).toUpperCase() + tag.name.slice(1))
			tagItem.find(".tags-drawer-header").attr("href", "#tagsDrawerCollapse" + tag.id)
			tagItem.find(".tags-drawer-container").attr("id", "tagsDrawerCollapse" + tag.id)

			container.append(tagItem)

			requestTagCourses(tag.id, (data) => {
				tagItem.find(".loading").remove()
				tagItem.find(".count").text(data.courses.length)
				if (data.courses.length > 0) {
					for (let course of data.courses) {
						let tagCourseItem = $("#templates .tags-drawer-course").clone()

						tagCourseItem.find(".link").attr("href", course.url)
						tagCourseItem.find(".code").text(course.code)
						tagCourseItem.find(".emoji").html(
							"&#" + (course.emoji ? course.emoji : DEFAULT_EMOJI) + ";"
						)

						tagCourseItem.find(".remove").on("click", () => {
							requestToggleTag(tag.id, course.id)
						})

						tagItem.find(".tags-drawer-container").append(tagCourseItem)
					}
				} else {
					let emptyItem = $("#templates .tags-drawer-empty").clone()
					tagItem.find(".tags-drawer-container").append(emptyItem)
				}

				tagItem.find(".tags-drawer-container").collapse("show")
			})

			tagItem.find(".tags-drawer-container").on("hidden.bs.collapse", () => {
				tagItem.find(".count").removeClass("invisible")
				tagItem.find(".tags-drawer-header").addClass("rounded-bottom")
				tagItem.find(".tags-drawer-header").attr("title", "Click to show tagged courses")
			})

			tagItem.find(".tags-drawer-container").on("show.bs.collapse", () => {
				tagItem.find(".count").addClass("invisible")
				tagItem.find(".tags-drawer-header").removeClass("rounded-bottom")
				tagItem.find(".tags-drawer-header").attr("title", "Click to collapse tagged courses")
			})
		}
	}

	function loadEditTagsModal() {
		tagsEdited = []
		$("#modalEditTags .tag-items").empty()
		for (let tag of tags) {
			let tagEditItem = $("#templates .tag-edit-item").clone()
			tagEditItem.find(".tag-color").css("color", "#" + colorToHex(tag.color))
			tagEditItem.find(".tag-select-color").append(colorOptions(tag.color))
			tagEditItem.find(".tag-name").val(tag.name)

			tagsEdited.push({
				id: tag.id,
				existing: true,
				delete: false,
				element: tagEditItem
			})

			tagEditItem.find(".tag-select-color").on("change", () => {
				tagEditItem.find(".tag-color").css(
					"color", "#" + colorToHex(parseInt(tagEditItem.find(".tag-select-color").val()))
				)
			})
			tagEditItem.find(".tag-delete").on("click", () => {
				tagsEdited.find(t => t.id == tag.id).delete = true
				tagEditItem.find(".inputs").addClass("d-none")
				tagEditItem.find(".deleted").removeClass("d-none")
			})
			tagEditItem.find(".tag-undo-delete").on("click", () => {
				tagsEdited.find(t => t.id == tag.id).delete = false
				tagEditItem.find(".inputs").removeClass("d-none")
				tagEditItem.find(".deleted").addClass("d-none")
			})

			if (tag.deletable) {
				tagEditItem.find(".tag-delete").attr("title", "Delete tag")
			} else {
				tagEditItem.find(".tag-select-color").prop("disabled", true)
				tagEditItem.find(".tag-select-color").attr("title", "Tag cannot be edited")
				tagEditItem.find(".tag-name").prop("readonly", true)
				tagEditItem.find(".tag-name").attr("title", "Tag cannot be edited")
				tagEditItem.find(".tag-delete").prop("disabled", true)
				tagEditItem.find(".tag-delete").attr("title", "Tag cannot be deleted")
			}
			$("#modalEditTags .tag-items").append(tagEditItem)
		}
	}

	// EVENTS

	// On tags modal starts to show
	$("#modalEditTags").on("show.bs.modal", loadEditTagsModal)

	// On tags drawer starts to show
	$("#tagsDrawer").on("show.bs.offcanvas", (e) => {
		if (isAuth) {
			loadTagsDrawer()
		} else {
			e.preventDefault()
			alert("warning", "You must be logged in to view your tagged courses")
		}
	})

	// On tag is added in edit form
	$("#formEditTags .tag-add").on("click", () => {
		const color = Object.keys(COLORS)[Math.floor(Math.random() * Object.keys(COLORS).length)]
		let tagEditItem = $("#templates .tag-edit-item").clone()
		tagEditItem.find(".tag-color").css("color", "#" + colorToHex(COLORS[color]))
		tagEditItem.find(".tag-select-color").append(colorOptions(COLORS[color]))

		tagsEdited.push({
			existing: false,
			element: tagEditItem
		})

		tagEditItem.find(".tag-select-color").on("change", () => {
			tagEditItem.find(".tag-color").css(
				"color", "#" + colorToHex(parseInt(tagEditItem.find(".tag-select-color").val()))
			)
		})
		tagEditItem.find(".tag-delete").on("click", () => {
			tagEditItem.remove()
		})

		$("#modalEditTags .tag-items").append(tagEditItem)
	})

	// On tag edit form is submitted
	$("#formEditTags").on("submit", (e) => {
		e.preventDefault()
		$("#modalEditTags").modal("hide")

		let data = {}
		let completed = 0
		function checkCompleted() {
			completed++
			if (completed == $("#modalEditTags .tag-edit-item").length) {
				requestTag("", "GET", {}, (data) => {
					tags = data.tags
					if ($("#tagsDrawer").hasClass("show"))
						loadTagsDrawer()
					tagsCallback()
				})
			}
		}

		for (let tagEdit of tagsEdited) {
			data = {}

			if (tagEdit.existing) { // Existing tag
				let tag = tags.find(t => t.id == tagEdit.id)
				if (tag.deletable) {
					if (tagEdit.delete) { // Delete tag
						requestDeleteTag(tagEdit.id, (response) => {
							alert("success", response.success)
							checkCompleted();
						})
					} else { // Update tag
						data.name = tagEdit.element.find(".tag-name").val()
						data.color = parseInt(tagEdit.element.find(".tag-select-color").val())
						if (data.name.length < 3) {
							alert("warning", "Tag name must be at least 3 characters long")
							checkCompleted();
						} else if (data.name.length > 16) {
							alert("warning", "Tag name must be at most 16 characters long")
							checkCompleted();
						} else if (data.name != tag.name || data.color != tag.color) {
							requestEditTag(tagEdit.id, data, (response) => {
								alert("success", response.success)
								checkCompleted();
							})
						} else {
							checkCompleted();
						}
					}
				} else {
					checkCompleted();
				}
			} else { // New tag
				data.name = tagEdit.element.find(".tag-name").val()
				data.color = parseInt(tagEdit.element.find(".tag-select-color").val())
				if (data.name.length < 3) {
					alert("warning", "Tag name must be at least 3 characters long")
					checkCompleted();
				} else if (data.name.length > 16) {
					alert("warning", "Tag name must be at most 16 characters long")
					checkCompleted();
				} else {
					requestTag("", "POST", data, (response) => {
						alert("success", response.success)
						checkCompleted();
					})
				}
			}
		}
	})

	// INIT

	function tagsInit(callback = () => {}) {
		if (!tagsInitialized) {
			tagsInitialized = true
			
			tagsCallback = callback

			if (!isAuth) {
				tags = []
			} else {
				requestTag("", "GET", {}, (data) => {
					tags = data.tags
					tagsCallback()
				})
			}
		}
	}

	$(document).ready(() => {
		setTimeout(tagsInit, 500)
	})
</script>
{% endmacro %}