{% if current_user.is_authenticated and welcome %}
<div id="welcome" class="alert alert-info fs-5 d-flex justify-content-between">
	<span class="">
		Welcome back <span class="fw-bold">{{current_user.name}}</span>!
	</span>
	<button type="button" class="btn-close" aria-label="Close"></button>
</div>
{% endif %}

<script>
$("#welcome").on("click", (e) => {
	$.ajax({
		url: "/api/users/session/welcome",
		method: "PUT",
		success: (response) => {
			if (response.success)
				$("#welcome").remove()
			else
				displayError(error)
		},
		error: (response) => {
			displayError(response)
		}
	})
})
</script>