{% extends "layout.html" %}

{% block content %}

<script src="/static/scripts/pagination.js"></script>
<script src="static/scripts/userlogs.js"></script>

<!--TEMPLATES-->
<div id="templates" class="d-none">
	<table>
		<tr class="log-item">
			<th class="id" scope="row"></th>
			<td class="datetime"></td>
			<td class="event_type"></td>
			<td class="event_name"></td>
			<td class="ip"></td>
		</tr>
	</table>
</div>

<h2>
	<span class="align-middle">
		{{user["name"]}}
	</span>
	<span class="h6 m-0 align-middle" title="User role">
		{% if user.role == Role.moderator%}
		<span class="badge rounded-pill border border-2 border-info text-info">
			MODERATOR
		</span>
		{% elif user.role == Role.admin%}
		<span class="badge rounded-pill border border-2 border-success text-success">
			ADMIN
		</span>
		{% endif %}
	</span>
</h2>

<div class="row mb-4">
	<!--Account info-->
	<div class="col-12 col-md-6 col-lg-8 fs-5 mb-4">
		<div title="Username">
			<i class="bi-person-circle"></i>
			<span class="">{{user.username}}</span>
		</div>
		<div title="User email">
			<i class="bi-envelope"></i>
			<span>{{user.email}}</span>
		</div>
		<div title="User faculty">
			<i class="bi-building"></i>
			<a href="{{user.faculty.url}}" class="text-body">{{user.faculty.name}}</a>
			<i class="fs-6 bi-box-arrow-up-right"></i>
		</div>
	</div>

	<!--Security settings-->
	<div class="col-12 col-md-6 col-lg-4">
		<div class="card border-danger">
			<div class="card-header h5 alert-danger border-danger">
				Security
			</div>
			<div class="card-body">
				<a class="text-danger" data-bs-toggle="modal" data-bs-target="#modalChangePassword" href="">
					Change Password
				</a>
			</div>
		</div>
	</div>
</div>

<!--Logs-->
<div class="">
	<hr>
	<h3>User Logs</h3>

	<!--Loading spinner-->
	<div class="loading text-center py-4">
		<div class="spinner-border" style="width: 4rem; height: 4rem;" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>

	<!--Logs table-->
	<table id="logsTable" class="table">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Date-Time (UTC)</th>
				<th scope="col">Type</th>
				<th scope="col">Event</th>
				<th scope="col">IP</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>

	<!--Page navigation-->
	{% include "components/pagination.html" %}
</div>

<!--Form change password-->
<form id="formChangePassword" name="formChangePassword" method="POST">
	{{formPassw.hidden_tag()}}
	<div class="modal fade" id="modalChangePassword" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Change Password</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body px-5">
					<!--Old Password-->
					<div class="form-group mb-2">
						{{formPassw.oldPassw.label(class="form-control-label")}}

						{% if formPassw.oldPassw.errors %}
						{{formPassw.oldPassw(class="form-control is-invalid", placeholder="")}}
						<div class="invalid-feedback">
							{% for error in formPassw.oldPassw.errors %}
							<span>{{error}}</span><br>
							{% endfor %}
						</div>
						{% else %}
						{{formPassw.oldPassw(class="form-control", placeholder="")}}
						{% endif %}
					</div>

					<!--New Password-->
					<div class="form-group mb-2">
						{{formPassw.newPassw.label(class="form-control-label")}}

						{% if formPassw.newPassw.errors %}
						{{formPassw.newPassw(class="form-control is-invalid", placeholder="")}}
						<div class="invalid-feedback">
							{% for error in formPassw.newPassw.errors %}
							<span>{{error}}</span><br>
							{% endfor %}
						</div>
						{% else %}
						{{formPassw.newPassw(class="form-control", placeholder="")}}
						{% endif %}
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-around">
					{{formPassw.submit(class="btn btn-outline-info")}}
				</div>
			</div>
		</div>
	</div>
	{% if formPassw.errors %}
	<script>
		$(document).ready(() => {
			$("#modalChangePassword").modal("show")
		})
	</script>
	{% endif %}
</form>

{% endblock %}