{% extends "layout.html" %}

{% block content %}

{% for version, data in changelog.items() %}
<div id="{{version}}" class="container row my-2 px-2 px-sm-4">
	<div class="col-12 col-md-3 col-xl-2 pe-0 pe-md-2">
		<div title="Version">
			<span class="h2 font-monospace">{{version}}</span>
			{% if data["beta"] %}
			<span class="badge bg-secondary align-top">BETA</span>
			{% endif %}
		</div>

		<div title="Publish date">
			<i class="bi-calendar-event"></i>
			{{data["date"]}}
		</div>
	</div>

	<div class="col-12 col-md-9 col-xl-10 ps-4 ps-md-2 pe-0 pe-md-2 pe-xxl-5">
		{% if data["title"] %}
		<h4>{{data["title"]}}</h4>
		{% endif %}

		<div class="container ps-2 pe-0 ps-md-4 pe-md-4">
			{% if data["intro"] %}
			<ul>
				{% for item in data["intro"] %}
				<li>{{item}}</li>
				{% endfor %}
			</ul>
			{% endif %}
		
			{% if data["changes"] %}
			<h5>Changes</h5>
			<ul>
				{% for item in data["changes"] %}
				<li>{{item}}</li>
				{% endfor %}
			</ul>
			{% endif %}
		
			{% if data["fixes"] %}
			<h5>Fixes</h5>
			<ul>
				{% for item in data["fixes"] %}
				<li>{{item}}</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
	</div>

	<hr class="my-4">
</div>
{% endfor %}

{% endblock %}