{% extends "layout.html" %}

{% block content %}

<script>
	var subjects = JSON.parse('{{ subjects | tojson | safe }}')
</script>

<script src="/static/scripts/faculty.js"></script>

<div id="templates" class="d-none">
	<div class="subject-item mb-3 card bg-light">
		<a class="subject-link m-0 p-0 text-decoration-none text-body" href="">
			<div class="card-body px-3 px-md-4 py-1 py-md-2">
				<span class="h4 me-4">
					<span class="subject-emoji p-0 m-0 me-1 me-md-2"></span>
					<span class="subject-code p-0 m-0 font-monospace fw-bold d-inline-block" style="width:4rem;"></span>
				</span>
				<br class="d-md-none">
				<span class="subject-name p-0 m-0 h5"></span>
			</div>
		</a>
	</div>
</div>

<div class="mb-4">
	<span class="h3 font-monospace">f/</span>
	<span class="h1">{{faculty.name}}</span>
	<span class="text-muted fs-6">(#{{faculty.id}})</span>
</div>

<div class="row mb-1 ps-0 ps-md-3">
	<!--Faculty Subjects-->
	<div class="order-2 order-lg-1 col-12 col-lg-7 col-xxl-8">
		<div class="container">
			<div class="row mb-3 mt-0">
				<div class="col-12 col-sm-6 col-lg-12 col-xl-6 col-xxl-7">
					<h2 class="m-0">Faculty Subjects:</h2>
				</div>
				<div class="col-12 col-sm-6 col-lg-12 col-xl-6 col-xxl-5">
					<div class="input-group mt-2">
						<select id="sortBy" name="sortBy" class="form-select form-select-sm bg-light"
							aria-label="Sort options" title="Sort by">
							<option value="code" selected>
								Code
							</option>
							<option value="name">
								Name
							</option>
						</select>
						<select id="orderBy" name="orderBy" class="form-select form-select-sm bg-light"
							aria-label="Sort options" title="Order by">
							<option value="1" selected>Ascending</option>
							<option value="0">Descending</option>
						</select>
					</div>
				</div>
			</div>
			
			<div class="container ps-3 pe-0" id="subjectsContainer"></div>
		</div>
	</div>

	<!--Links-->
	<div class="order-1 order-lg-2 col-12 col-lg-5 col-xxl-4 mt-lg-5 mb-4 pt-2">
		<div class="sticky-top sticky-offset card bg-light">
			<div class="card-body">
				<div class="mb-3">
					<div class="h5">{{lenCourses}} Courses in this faculty</div>

					<div class="container">
						<div>
							<a href="{{url_for('view.courseBrowser', faculty=faculty.id)}}" class="h6 text-body">View courses in Course Browser</a>
							<i class="h6 bi bi-box-arrow-up-right"></i>
						</div>
					</div>					
				</div>

				<div class="">
					<div class="h5">{{lenSubjects}} Subjects in this faculty</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}