{% extends "layout.html" %}

{% block content %}

<script>
	var colors = JSON.parse('{{ colors | tojson | safe }}')
</script>


<!--Tags-->
<div class="container mb-5">
	<div class="d-flex justify-content-between mb-3">
		<h2 class="m-0">Tags</h2>
		<button type="button" class="m-0 btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalEditTags" onclick="loadEditTagsModal()">
			<i class="bi-pencil-fill"></i>
			Edit Tags
		</button>
	</div>
	<div class="row">
		{% for tag in userData["tags"] %}
		<div class="col-xl-3 col-lg-4 col-sm-6 col-12 p-0 px-2 mb-3">
			<div class="card h-100">
				<div class="card-header text-center">
					{% if tag.emoji %}
						&#{{tag.emoji}}
					{% else %}
						<i class="bi-circle-fill" style="color: #{{tag.color_hex}};"></i>
					{% endif %}
					{{tag.name}}
				</div>
				<div class="tag-course-container card-body p-1" db-id="{{tag.id}}">
					{% for course in tag.courses | sort(attribute="subject.code") %}
						<a class="tag-course-item m-1 btn bg-light card" db-id="{{course.id}}"
							db-code="{{course.code}}" draggable="true" href="{{course.url}}">
							<div class="row">
								<span class="col-3 h5 p-0 m-0">
									&#{{course.getEmoji()}}
								</span>
								<span id="code" class="col-6 font-monospace">
									{{course.code}}
								</span>
								<span class="col-3">
									<i class="bi-box-arrow-up-right"></i>
								</span>
							</div>
						</a>
					{% endfor %}
				</div>
				<div class="card-footer">

				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<!--Courses per term-->
<div class="container-fluid">
	<h2 class="mb-3">Courses per term</h2>
	<div class="row flex-nowrap overflow-scroll pt-3">
		{% for collection in userData["collections"] %}
		<div class="col-xl-3 col-lg-4 col-sm-6 col-12 mx-2 p-0">
			<div class="card h-100">
				{% if not (collection.transfer or collection.userCourses) %}
				<form action="/my/del/collection" method="POST">
					<input type="hidden" name="id" value="{{collection.id}}">
					<button
						class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-light border border-secondary">
						<i class="bi-x-lg text-secondary"></i>
						<span class="visually-hidden">Remove term</span>
					</button>
				</form>
				{% endif %}
				<div class="card-header text-center">
					{% if collection.transfer %}
					<span class="h5">Transferred</span>
					{% else %}
					<span class="h5">{{collection.term.name | capitalize}}</span>
					<br>
					<small class="m-0 text-muted"><i>{{collection.term.start}} > {{collection.term.end}}</i></small>
					{% endif %}
				</div>
				<div class="collection-course-container card-body p-1" db-id="{{collection.id}}">
					{% for uCourse in collection.userCourses | sort(attribute="course.subject.code") %}
					<div class="collection-course-item m-1 btn bg-light card" db-id="{{uCourse.id}}"
						db-passed="{{uCourse.passed | tojson | safe}}" db-grade="{{uCourse.grade.id}}" db-code="{uCourse.course.code}}" draggable="true"
						data-bs-toggle="modal" data-bs-target="#modalEditUserCourse">
						<div class="row">
							<span class="col-3 h5 p-0 m-0">&#{{uCourse.course.getEmoji()}}</span>
							<span id="code"
								class="col-6 font-monospace">{{uCourse.course.code}}</span>
							<span class="col-3 font-monospace text-start" title="{{uCourse.grade.gpv}} GPV">
								{% if uCourse.grade %}
								{{uCourse.grade.symbol}}
								{% else %}
								-
								{% endif %}
							</span>
						</div>
					</div>
					{% endfor %}
				</div>
				<button class="btn btn-outline-secondary m-2 add-course" data-bs-toggle="modal" data-bs-target="#modalAddCourse" db-id="{{collection.id}}">
					Add course
				</button>
				<div class="card-footer">
					<div class="row">
						<span class="col-9 text-center">Term GPA</span>
						<span class="col-3 font-monospace text-start collection-gpa">
							{% if collection.gpa %}
							{{collection.gpa}}
							{% else %}
							-
							{% endif %}
						</span>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="col-xl-2 col-lg-3 col-sm-4 col-6 card mx-2 p-0" data-bs-toggle="modal" data-bs-target="#modalAddCollection">
			<div class="card-body btn btn-light">
				<div class="h-100 d-flex flex-column align-content-center text-muted">
					<div class="mt-auto"><i class="bi-plus-lg display-4"></i></div>
					<div class="h5 mb-auto">Add term</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Form modal-->

<!--Form add CourseCollection-->
<form id="formAddCollection" name="formAddCollection" action="/my/add/collection" method="POST">
	<div class="modal fade" id="modalAddCollection" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add term</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body px-5">
					<div class="row g-2">
						<div class="col-md">
							<div class="form-floating">
								<select class="form-select" id="selectSeason" name="season" aria-label="Select season">
									{% for season in seasons %}
									<option value="{{season.id}}">{{season.name | capitalize}}</option>
									{% endfor %}
								</select>
								<label for="selectSeason">Season</label>
							</div>
						</div>
						<div class="col-md">
							<div class="form-floating">
								<select class="form-select" id="selectYear" name="year" aria-label="Select year">
									{% for year in years %}
									<option value="{{year}}">{{year}}</option>
									{% endfor %}
								</select>
								<label for="selectYear">Year</label>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-around">
					<button type="submit" class="btn btn-primary">Add</button>
				</div>
			</div>
		</div>
	</div>
</form>

<!--Form add UserCourse-->
<form id="formAddCourse" name="formAddCourse" action="/my/add/course" method="POST">
	<div class="modal fade" id="modalAddCourse" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add course to term</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body px-5">
					<input type="number" name="collection_id" id="selectCollectionId" value="" readonly hidden>
					<input type="number" name="course_id" id="selectCourseId" value="" readonly hidden>
					<div class="d-flex flex-row justify-content-center">
						<input type="text" class="form-control form-control-lg selectCourse font-monospace text-end" id="selectCourseSubject" minlength="2" maxlength="4" value="" style="width: 4em;">
						<span class="h-100 p-2 m-0 h4">–</span>
						<input type="text" class="form-control form-control-lg selectCourse font-monospace text-begin" id="selectCourseNumber" maxlength="3" value="" disabled style="width: 4em;">
						<span class="h-100 p-2 m-0 ms-1 h4" id="selectCourseStatus" style="width: 1em;">
							<span class="error" style="display: none;">
								<i class="bi-exclamation-circle-fill text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Course does not exist" title="Course does not exist"></i>
							</span>
							<span class="success" style="display: none;">
								<i class="bi-check-circle-fill text-success" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Course does not exist" title="Course does not exist"></i>
							</span>
							<span class="spinner-border loading" role="status" style="display: none;">
								<span class="visually-hidden">Loading...</span>
							</span>
						</span>
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-around">
					<button id="selectCourseSubmit" type="submit" class="btn btn-primary" disabled>Add</button>
				</div>
			</div>
		</div>
	</div>
</form>

<!--Form edit UserCourse-->
<form id="formEditUserCourse" name="formEditUserCourse" action="/my/course" method="POST">
	<div class="modal fade" id="modalEditUserCourse" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit course</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body px-5">
					<div class="row mb-2">
						<label for="selectCoursePlaceholder" class="col-3 col-form-label">Course</label>
						<div class="col-9">
							<input type="hidden" id="selectCourse" name="id" value="">
							<input type="text" id="selectCoursePlaceholder" class="form-control col-9" value="" disabled
								readonly>
						</div>
					</div>
					<div class="row">
						<label class="col-3 col-form-label" for="selectCollection">Term</label>
						<div class="col-9">
							<select class="form-select" aria-label="Select term" name="collection_id"
								id="selectCollection">
								{% for collection in userData["collections"] %}
								<option value="{{collection.id}}">
									{% if collection.transfer %}
									Transferred
									{% else %}
									{{collection.term.season.name | capitalize}} {{collection.term.year}}
									{% endif %}
								</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="row">
						<label class="col-3 col-form-label">Passed</label>
						<div class="col-9 py-2">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="passed" id="selectPassedTrue"
									value="true">
								<label class="form-check-label" for="selectPassedTrue">Yes</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="passed" id="selectPassedFalse"
									value="false">
								<label class="form-check-label" for="selectPassedFalse">No</label>
							</div>
						</div>
					</div>
					<div class="row">
						<label class="col-3 col-form-label" for="selectGrade">Grade</label>
						<div class="col-9">
							<select class="form-select" aria-label="Select grade" name="grade" id="selectGrade">
								<option value="0">-</option>
								{% for grade in grades %}
								<option value="{{grade.id}}">
									{{grade.symbol}}
								</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-around">
					<button type="submit" name="method" value="DELETE" class="btn btn-danger">Remove</button>
					<button type="submit" name="method" value="PUT" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</form>

<script src="/static/scripts/planner.js"></script>

{% include "components/editTags.html" %}

{% endblock %}