html {
	scroll-padding-top: 70px;
}

a {
	cursor: pointer;
}

a.text-body:hover {
	color: var(--bs-gray-600) !important;
}

a.text-muted:hover {
	color: var(--bs-gray-700) !important;
}

.alert {
	cursor: pointer;
}

.requiered-form-label::after {
	content: " *";
	color: var(--bs-red);
}

.sticky-offset {
	top: 80px;
}

.form-group .form-label {
	cursor: pointer;
}

.disabled {
	display: none;
}

.subjItem {
	cursor: pointer;
}

.collapsing {
	transition: 0.3s;
}
