/* OVERRIDES */

$black:    #ffffff;
$gray-900: hsl(210, 17%, 98%);
$gray-800: hsl(210, 16%, 93%);
$gray-700: hsl(210, 14%, 89%);
$gray-600: hsl(210, 14%, 83%);
$gray-500: hsl(210, 11%, 71%);
$gray-400: hsl(210, 7%, 46%);
$gray-300: hsl(210, 9%, 31%);
$gray-200: hsl(210, 10%, 23%);
$gray-100: hsl(210, 2%, 13%);
$white:    hsl(210, 0%, 0%);

$border-radius:               .4rem;
$border-radius-sm:            .3rem;
$border-radius-lg:            .5rem;

@import "../bootstrap/scss/bootstrap";

.card, .accordion-button, .accordion-body, .form-control {
	background-color: $gray-100;
}