.popup {
	cursor: pointer;
}

.requiered-form-label::after {
	content: " *";
	color: red;
}

.requiered-form-label:hover::after {
	content: " * Required";
	color: red;
}

.sticky-offset {
	top: 80px;
}

.form-group .form-label {
	cursor: pointer;
}

.disabled {
	display: none;
}

.subjItem {
	cursor: pointer;
}

.dragging {
	opacity: 0.5;
}