{% with messages = get_flashed_messages(with_categories=true) %}
<div id="alerts" class="fixed-bottom mb-1">
{% if messages %}
	{% for category, message in messages %}
	<div class="alert alert-{{category}} alert-dismissible fade show mx-2 mx-md-5 mb-2 mb-md-3" role="alert" data-bs-dismiss="alert">
		{{message}}
		<button type="button" class="btn-close" aria-label="Close"></button>
	</div>
	{% endfor %}
{% endif %}
</div>
{% endwith %}

<script>
const categories = ["success", "info", "warning", "danger", "primary", "secondary"]

function alert(category, message, pre="") {
	if (!categories.includes(category))
		category = "warning"
	
	let newAlert = $(`
		<div class="alert alert-` + category + ` alert-dismissible fade show mx-2 mx-md-5 mb-2 mb-md-3" role="alert" data-bs-dismiss="alert">
			<b>` + pre +`</b>
			` + message + `
			<button type="button" class="btn-close" aria-label="Close"></button>
		</div>
	`)

	$(newAlert).appendTo("#alerts")

	if (category != "danger") {
		setTimeout(() => {
			newAlert.alert("close")
		}, (category == "warning" || category == "danger") ? 5000 : 3000);
	}
}

function displayError(response) {
	if (response.error)
		alert("danger", response.error)
	else if (data.responseJSON)
		alert("danger", response.responseJSON.error)
	else
		alert("danger", response.statusText + " (" + response.status + ")")
}
</script>