<!--Modal edit tags-->
<div class="modal fade" id="modalEditTags" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Edit tags</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="tag-items"></div>
				<div class="d-flex justify-content-center">
					<button type="button" class="btn btn-sm btn-secondary" onclick="addTag()">
						<i class="bi-plus-lg"></i> Add tag
					</button>
				</div>
			</div>
			<div class="modal-footer d-flex justify-content-around">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button id="modalEditTagsSubmit" type="submit" class="btn btn-primary" onclick="tagExecuteChanges()">Save changes</button>
			</div>
		</div>
	</div>
</div>

<script src="/static/scripts/tags.js"></script>
