<div class="container-fluid bg-light sticky-top px-md-5 mb-4 border-bottom border-white border-2">
	<nav class="navbar navbar-expand-md navbar-light px-md-5" style="z-index: 10000;">

		<a href="{{url_for('view.home')}}" class="navbar-brand">UofC Planner</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu"
			aria-controls="toggleMobileMenu" aria-expanded="false" arial-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse d-md-flex justify-content-between" id="toggleMobileMenu">
			<ul class="navbar-nav text-center">
				<li>
					<a class="nav-link" href="{{url_for('view.courses')}}">Course Search</a>
				</li>
				<li>
					<a class="nav-link" href="{{url_for('view.about')}}">About</a>
				</li>
			</ul>

			<ul class="navbar-nav text-center">
				{% if current_user.is_authenticated %}
					<li class="m-1">
						<a class="nav-link" href="{{url_for('view.planner')}}">
							My Planner
						</a>
					</li>
					<li class="m-1">
						<a class="nav-link" href="{{url_for('view.account')}}">
							My Account
						</a>
					</li>
					<li class="m-1">
						<a class="btn btn-outline-primary d-block" href="{{url_for('view.logout')}}">
							Log Out
						</a>
					</li>
				{% else %}
					<li class="m-1">
						<a class="btn btn-outline-info d-block" href="{{url_for('view.login')}}">
							Log In
						</a>
					</li>
					<li class="m-1">
						<a class="btn btn-outline-primary d-block" href="{{url_for('view.signup')}}">
							Sign Up
						</a>
					</li>
				{% endif %}
			</ul>
		</div>

	</nav>
</div>