<nav aria-label="Page navigation" id="pageNav" class="loaded">
	<ul class="pagination justify-content-center mb-2">
		<li class="page-item d-block page-prev" onclick="page.prev()" style="cursor: pointer;">
			<a class="page-link" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<li class="pageEllipsis page-item" style="cursor: pointer;" display: none>
			<a class="page-link">...</a>
		</li>
		<li class="page-item d-block page-next" onclick="page.next()" style="cursor: pointer;">
			<a class="page-link" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
	<p class="text-center text-secondary mt-0"><small>
			Page <span class="num-page">1</span> / <span class="num-pages">1</span>
		</small>
	</p>
</nav>