{% extends "layout.html" %}

{% from "components/iconlink.html" import iconLink %}
{% from "components/pagination.html" import paginationNav, paginationCode with context %}

{% block headscripts %}
{{ paginationCode() }}
<script src="static/scripts/userlogs.js"></script>
{% endblock %}

{% block templates %}
<!--User Log Item-->
<table>
	<tr class="log-item">
		<th class="id" scope="row"></th>
		<td class="datetime">
			<span class="d-none utc"></span>
			<span class="d-none local"></span>
		</td>
		<td class="event_name"></td>
		<td class="ip-container">
			<a href="" class="ip-link text-body text-decoration-none" title="View IP location">
				<span class="ip font-monospace"></span>
				<i class="bi-pin-map-fill"></i>
			</a>
		</td>
	</tr>
</table>
{% endblock %}

{% block content %}

<h2>
	<span class="align-middle">
		{{current_user.name}}
	</span>
	<span class="h6 m-0 align-middle" title="User role">
		{% if current_user.role == ROLE_MOD %}
		<span class="badge rounded-pill border border-2 border-info text-info">
			MODERATOR
		</span>
		{% elif current_user.role == ROLE_ADMIN %}
		<span class="badge rounded-pill border border-2 border-success text-success">
			ADMIN
		</span>
		{% endif %}
	</span>
</h2>

<div class="row mb-4">
	<!--Account info-->
	<div class="col-12 col-md-6 col-lg-8 fs-5 mb-4">
		<div title="Username">
			<i class="bi-person-badge-fill"></i>
			<span class="">{{current_user.username}}</span>
		</div>
		<div title="User email">
			<i class="bi-envelope"></i>
			<span>{{current_user.email}}</span>
		</div>
		<div title="User faculty">
			{{iconLink(current_user.faculty.url, current_user.faculty.name, "building")}}
		</div>
	</div>

	<!--Security settings-->
	<div class="col-12 col-md-6 col-lg-4">
		<div class="card border-danger">
			<div class="card-header h5 bg-danger-subtle border-danger">
				Security
			</div>
			<div class="card-body">
				<a class="text-danger" data-bs-toggle="modal" data-bs-target="#modalChangePassword" href="">
					Change Password
				</a>
			</div>
		</div>
	</div>
</div>

<!--Logs-->
<div id="logs">
	<hr>
	<h3>User Auth Logs</h3>

	<!--Loading spinner-->
	<div class="loading text-center py-4">
		<div class="spinner-border" style="width: 4rem; height: 4rem;" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>

	<!--Logs table-->
	<table id="logsTable" class="table table-sm loaded">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">
					<div class="d-sm-flex">
						<span>Date-Time</span>
						<div class="ms-sm-2" title="Timezone">
							<select id="logsTimezoneSelect" class="form-select form-select-sm py-0 ps-1"
								onchange="showDatetime($(this).val())">
								<option value="utc" selected title="Universal Time">UTC</option>
								<option value="local" title="Calgary Time (Mountain)">MDT</option>
							</select>
						</div>
					</div>
				</th>
				<th scope="col">Event</th>
				<th scope="col">IP</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>

	<!--Page navigation-->
	{{paginationNav()}}
</div>

<!--Modal show location-->
<div class="modal fade" id="modalShowLocation" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">IP Approximate Location</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body px-4 px-sm-5">
				<div class="row mb-3">
					<div class="col-5 col-sm-4 fs-5 d-flex align-items-center">
						IP Address
					</div>
					<div class="col">
						<input class="ip form-control font-monospace" type="text" value="" readonly>
					</div>
				</div>

				<div class="loading text-center my-4" title="Loading...">
					<div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
						<span class="visually-hidden">Loading...</span>
					</div>
				</div>
				<div class="success">
					<div class="row">
						<div class="col-5 col-sm-4 ps-5 fw-bold">ISP</div>
						<div class="isp col"></div>
					</div>
					<div class="row">
						<div class="col-5 col-sm-4 ps-5 fw-bold">Country</div>
						<div class="col">
							<span class="country">-</span>
							(<span class="countryCode"></span>)
						</div>
					</div>
					<div class="row">
						<div class="col-5 col-sm-4 ps-5 fw-bold">Region</div>
						<div class="col">
							<span class="regionName">-</span>
							(<span class="region"></span>)
						</div>
					</div>
					<div class="row">
						<div class="col-5 col-sm-4 ps-5 fw-bold">City</div>
						<div class="city col">-</div>
					</div>
					<div class="row">
						<div class="col-5 col-sm-4 ps-5 fw-bold">ZIP Code</div>
						<div class="zip col">-</div>
					</div>
					<div class="row">
						<div class="col-5 col-sm-4 ps-5 fw-bold">Coords</div>
						<div class="col">
							<span class="lat">-</span>,
							<span class="lon">-</span>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col ps-5 gmaps-link">
							{{iconLink("", "Open in Google Maps", external=True)}}
						</div>
					</div>
				</div>
				<div class="error alert alert-danger">
					<div class="fw-bold">Error requesting location of this IP address</div>
					<div class="message"></div>
				</div>

				<div class="text-muted mt-3 px-1">
					<small>
						<i class="bi-info-circle-fill"></i>
						IP address location provided by <a href="https://ip-api.com" target="_blank"
							rel="noopener noreferrer">ip-api.com</a>
					</small>
				</div>
			</div>
			<div class="modal-footer d-flex justify-content-around">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!--Form change password-->
<form id="formChangePassword" name="formChangePassword" method="POST">
	{{formPassw.hidden_tag()}}
	<div class="modal fade" id="modalChangePassword" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Change Password</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body px-5">
					<!--Old Password-->
					<div class="form-group mb-2">
						{{formPassw.oldPassw.label(class="form-control-label")}}

						{% if formPassw.oldPassw.errors %}
						{{formPassw.oldPassw(class="form-control is-invalid", placeholder="")}}
						<div class="invalid-feedback">
							{% for error in formPassw.oldPassw.errors %}
							<span>{{error}}</span><br>
							{% endfor %}
						</div>
						{% else %}
						{{formPassw.oldPassw(class="form-control", placeholder="")}}
						{% endif %}
					</div>

					<!--New Password-->
					<div class="form-group mb-2">
						{{formPassw.newPassw.label(class="form-control-label")}}

						{% if formPassw.newPassw.errors %}
						{{formPassw.newPassw(class="form-control is-invalid", placeholder="")}}
						<div class="invalid-feedback">
							{% for error in formPassw.newPassw.errors %}
							<span>{{error}}</span><br>
							{% endfor %}
						</div>
						{% else %}
						{{formPassw.newPassw(class="form-control", placeholder="")}}
						{% endif %}
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-around">
					{{formPassw.submit(class="btn btn-outline-info")}}
				</div>
			</div>
		</div>
	</div>
</form>

{% endblock %}

{% block tailscripts %}
{% if formPassw.errors %}
<script>
	$(document).ready(() => {
		$("#modalChangePassword").modal("show")
	})
</script>
{% endif %}
{% endblock %}