{% extends "layout.html" %}

{% from "components/pagination.html" import paginationNav, paginationCode with context %}

{% block styles %}
<style>
	.announcement-item .card-header {
		cursor: pointer;
	}
</style>
{% endblock %}

{% block headscripts %}
{{ paginationCode() }}
{{announcement_id}}
<script const announcementID = "{{announcement_id}}"></script>
<script src="/static/scripts/announcements.js"></script>
{% endblock %}

{% block content %}

<!--TEMPLATES-->
<div id="templates" class="d-none">
	<!--Announcement Card-->
	<div class="announcement-item card m-2" title="Click to view full announcement">
		<div class="card-header bg-light" data-bs-toggle="modal" data-bs-target="#modalInfoAnnouncement">
			<!--Announcement Title-->
			<div class="card-title">
				<span class="announcement-title p-0 m-0 h2"></span>
			</div>
			<!--Announcement Datetime-->
			<div class="card-subtitle">
				<span class="announcement-time card-subtitle m-0 text-secondary h6"></span>
			</div>
		</div>
		<div class="card-body">
			<!--Announcement Body-->
			<div class="announcement-text text-truncate text-dark"></div>
		</div>
	</div>
</div>

<!--Announcement Modal-->
<div id="modalInfoAnnouncement" class="modal fade" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Announcement Info</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body px-4">
				<!--Title-->
				<div class="row">
					<div class="col-2">
						<span class="h5">Title</span>
					</div>
					<div class="col">
						<p class="title text-break fs-5"></p>
					</div>
				</div>
				<hr>
				<!--Date-->
				<div class="row">
					<div class="col-2">
						<span class="h5">Datetime</span>
					</div>
					<div class="col">
						<span class="datetime"></span>
					</div>
				</div>
				<hr>
				<!--Body-->
				<div class="row">
					<div class="col-2">
						<span class="h5">Body</span>
					</div>
					<div class="col">
						<p class="body text-break fs-7"></p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<!--ID-->
                <p class="fst-italic">
                    <span>Announcement ID: </span>
                    <span class="id"></span>
                </p>
			</div>
		</div>
	</div>
</div>

<!-- RENDERING -->
<div class="row justify-content-between">
	<div class="container col-12 col-lg-8 col-xl-9">
		<!--Loading-->
		<div class="loading text-center py-4">
			<div class="spinner-border" style="width: 4rem; height: 4rem;" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>

		<!--Announcement list-->
		<div id="announcementsContainer" class="loaded"></div>

		<!--Page navigation-->
		{{paginationNav()}}

		<!--Note-->
		<div class="alert alert-warning" role="alert">
			Note: Light blue announcements have been read by you. Grey ones haven't.
			
			{{announcement_id}}
		</div>
	</div>
</div>
{% endblock %}