{% extends "layout.html" %}

{% from "components/iconlink.html" import iconLink %}
{% from "components/disqus.html" import disqusThread with context %}

{% block headscripts %}
<script>
	var course_id = parseInt("{{course.id}}")
	var grades = JSON.parse('{{ grades | tojson | safe }}')
</script>
<script src="/static/scripts/course.js"></script>
{% endblock %}

{% block styles %}
<style>
	#code .id {
		opacity: 0;
		transition-delay: 1s;
	}

	#code:hover .id {
		opacity: 1;
	}
</style>
{% endblock %}

{% block templates %}
<!--Course tag selected item-->
<span class="tag-selected-item btn badge btn-secondary px-1 me-1 cursor-pointer" title="Click to remove tag">
	<span class="tag-color d-none"><i class="bi-circle-fill"></i></span>
	<span class="tag-emoji d-none"></span>
	<span class="tag-name"></span>
</span>
<!--Course tag dropdown item-->
<li class="tags-dropdown-item" db-id="">
	<a class="dropdown-item px-2 py-1">
		<i class="tag-selected bi-check invisible"></i>
		<small class="tag-name"></small>
	</a>
</li>
<!--Collection course item-->
<a class="collection-course-item list-group-item list-group-item-action d-flex" title="View and edit course">
	<div class="flex-grow-1 d-flex justify-content-between pe-2">
		<span class="term-name"></span>
		<span class="grade font-monospace" title="" style="width: 1.3em;"></span>
	</div>
	<div class="open">
		<i class="bi-box-arrow-up-right"></i>
	</div>
</a>
{% endblock %}

{% block content %}

<!--Course Code-->
<div id="code" class="mb-2">
	<a class="h3 m-0 font-monospace text-decoration-none text-body" data-bs-toggle="modal" data-bs-target="#modalGoTo"
		onclick="openGoTo('course', '{{subject.code}}', '{{course.number}}')">
		<span class="align-top">c/</span><span class="my-0 mx-1"><span
				class="border border-2 border-secondary bg-light rounded p-1"
				title="Subject code">{{subject.code}}</span>-<span
				class="border border-2 border-secondary bg-light rounded p-1"
				title="Course number">{{course.number}}</span></span></a>
	<span class="id text-muted">(#{{course.id}})</span>
</div>

<div class="row mb-1">
	<!--Course Header-->
	<div class="col-12 col-md-7 col-lg-8 col-xl-9">
		<h1 class="mt-2" title="Course name">
			&#{{course.emoji}} {{course.name}}
		</h1>

		<div>
			<h5 title="Faculty">{{iconLink(faculty.url, faculty.name, "building")}}</h5>
			<h5 title="Subject">{{iconLink(subject.url, subject.name, "journals")}}</h5>
		</div>
	</div>

	<!--Other info-->
	<div class="col-12 col-md-5 col-lg-4 col-xl-3 row pt-2 pt-md-3 ps-4 ps-md-3 pe-0">
		<!--Extra info-->
		<div class="card border-0 col-12 col-sm-6 col-md-12 ps-2 pe-2 ps-sm-0 ps-md-2 pb-1">
			<div class="card-body p-0">
				{% if course.aka %}
				<div title="Also known as" class="fst-italic">
					<span class="fw-bold">AKA:</span>
					{{course.aka}}
				</div>
				{% endif %}

				<div title="Units" class="fst-italic">
					<span class="fw-bold">Units:</span>
					{{course.units}}
				</div>

				<div title="Repeat for credit" class="fst-italic">
					<span class="fw-bold">Repeat for credit:</span>
					{% if course.repeat %}Yes{% else %}No{% endif %}
				</div>

				<div title="Count GPA" class="fst-italic">
					<span class="fw-bold">Included in GPA:</span>
					{% if course.countgpa %}Yes{% else %}No{% endif %}
				</div>
			</div>
		</div>
		<!--Links-->
		<div class="card border-0 col-12 col-sm-6 col-md-12 ps-2 pe-2 pe-sm-0 pe-md-2 pb-1">
			<div class="card-body p-0">
				<div>
					{{iconLink(redditSearch, "Search on r/UCalgary", "reddit")}}
				</div>
				<div>
					{{iconLink(course.url_uni, "View in official Uni Calendar", "journal-bookmark-fill")}}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<!--LEFT-->
	<div class="order-2 order-sm-1 col-12 col-sm-6 col-md-7 col-lg-8 col-xl-9 pe-0">

		<!--Course Info-->
		<div class="container p-0 ps-lg-4 row mb-4">
			{% if course.old %}
			<div class="p-2 pe-0 pe-md-2">
				<div class="alert alert-warning m-0">
					<span class="h5 m-0 pe-2">
						<i class="bi-exclamation-triangle-fill"></i>
						Old course
					</span>
					<br class="d-lg-none">
					<span class="">
						This course was removed from the Calendar after the {{course.latestCalendar().schoolyear}}
						school year.
					</span>
				</div>
			</div>
			{% endif %}

			{% macro textCard(title, content, tooltip) %}
			<div class="col-12 col-lg-6 p-2 pe-0 pe-md-2">
				<div class="card h-100">
					<div class="card-body">
						<div class="d-flex justify-content-between mb-2">
							<span class="h3 m-0">{{title}}</span>
							{% if tooltip %}
							<i class="bi-info-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="top"
								title="{{tooltip}}"></i>
							{% endif %}
						</div>

						<p class="mb-2">
							{% if content %}
							{% for line in content.split("\n") %}
							{{line}}
							{% if not loop.last %}<br>{% endif %}
							{% endfor %}
							{% else %}
							<span class="fst-italic">None</span>
							{% endif %}
						</p>
					</div>
				</div>
			</div>
			{% endmacro %}

			{{textCard("Description", course.desc)}}

			{{textCard("Notes", course.notes, "This contains any information that may be helpful regarding enrolment in
			the course.")}}

			{{textCard("Prerequisites", course.prereqs, "Courses that must be completed or currently registered in
			before a student may be able to register in this course.")}}

			{{textCard("Antirequisites", course.antireqs, "Students may take these courses if they wish, but credit for
			both courses will not be granted towards their degree.")}}

			{% if course.coreqs %}
			{{textCard("Corequisites", course.coreqs, "Must be completed at the same time as this class.")}}
			{% endif %}

			<div class="text-muted mt-2 px-3">
				<i class="bi-info-circle-fill"></i>
				The information above was taken from the {{course.latestCalendar().schoolyear}} version of the
				University Calendar (the latest available)
			</div>
		</div>

		<!--Comments-->
		<div class="container ps-2 ps-lg-4 pe-0 row">
			<hr>
			<div>
				<h3>Discussion</h3>
				{% if not DEBUG %}
				{{disqusThread(request.url, course.id)}}
				{% endif %}
			</div>
		</div>
	</div>

	<!--RIGHT-->
	<div class="order-1 order-sm-2 col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 p-2">
		<div class="sticky-sm-top sticky-offset">
			<!--User data-->
			<div class="card bg-light">
				<div class="card-body">
					<!--Tags-->
					<div id="tags">
						<div class="d-flex justify-content-between mb-2">
							<h4 class="m-0">Tags</h4>
							{% if current_user.is_authenticated %}
							<button class="tags-dropdown-btn btn btn-secondary btn-sm badge dropdown-toggle"
								type="button" data-bs-toggle="dropdown" aria-expanded="false" title="Add tags">
								Add tags
							</button>
							<ul class="dropdown-menu fs-6 py-1">
								<div class="tags-dropdown"></div>
								<li>
									<hr class="dropdown-divider my-1">
								</li>
								<li>
									<a class="dropdown-item px-2 p-y1" data-bs-toggle="modal"
										data-bs-target="#modalEditTags">
										<i class="bi-pencil-square"></i>
										<small>Edit tags</small>
									</a>
								</li>
							</ul>
							{% endif %}
						</div>
						{% if current_user.is_authenticated %}
						<div class="loading fst-italic">Loading...</div>
						<div class="tags-selected"></div>
						{% else %}
						<span class="fst-italic">
							You must be logged in to see and add tags to this course
						</span>
						{% endif %}
					</div>

					<hr class="my-4">

					<!--Course collections-->
					<div id="collections">
						<div class="d-flex justify-content-between mb-2">
							<h4 class="m-0">Terms taken</h4>

							{% if current_user.is_authenticated %}
							<button class="collections-dropdown-btn btn btn-secondary btn-sm badge dropdown-toggle"
								type="button" data-bs-toggle="dropdown" aria-expanded="false" title="Add tags">
								Add to term
							</button>
							<ul class="collections-dropdown dropdown-menu fs-6 py-1">
								{% for collection in collections %}
								<li class="collections-dropdown-item" db-id="{{collection.id}}">
									<a class="dropdown-item px-2 py-1">
										<i class="bi-check invisible"></i>
										{% if collection.transfer %}
										<small>Transferred</small>
										{% else %}
										<small>{{collection.term.name | capitalize}}</small>
										{% endif %}
									</a>
								</li>
								{% endfor %}
								<li>
									<hr class="dropdown-divider my-1">
								</li>
								<li>
									<a class="dropdown-item px-2 p-y1" href="{{url_for('view.planner')}}">
										<i class="bi-pencil-square"></i>
										<small>Edit in My Planner</small>
									</a>
								</li>
							</ul>
							{% endif %}
						</div>
						{% if current_user.is_authenticated %}
						<div class="loading fst-italic">Loading...</div>
						<div class="collections-container card bg-light d-none">
							<ul class="list-group list-group-flush"></ul>
						</div>
						<div class="collections-none text-center fst-italic d-none">None</div>
						<div class="loaded text-center mt-2">
							<a class="btn btn-sm btn-outline-secondary" href="{{url_for('view.planner')}}">
								<i class="bi-pencil-square"></i>
								Edit in My Planner
							</a>
						</div>
						{% else %}
						<span class="fst-italic">
							You must be logged in to see the terms in which you took this course
						</span>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}