{% extends "layout.html" %}

{% from "components/disqus.html" import disqusThread with context %}

{% block headscripts %}
<script>
	var course_id = parseInt("{{course.id}}")
</script>
<script src="/static/scripts/course.js"></script>
{% endblock %}

{% block content %}

<div class="mb-3">
	<span class="h3 font-monospace align-top">c/</span><span class="h3 font-monospace my-0 mx-1"><span class="border border-2 border-secondary bg-light rounded p-1" title="Subject code">{{subject.code}}</span>-<span
	class="border border-2 border-secondary bg-light rounded p-1" title="Course number">{{course.number}}</span></span>
	<span class="align-bottom text-muted fs-6">(#{{course.id}})</span>
</div>

<div class="row mb-1">
	<!--Course Header-->
	<div class="col-12 col-md-7 col-lg-8">
		<h1 class="mt-2" title="Course name">&#{{course.emoji}} {{course.name}}</h1>

		<div class="">
			<h5 title="Faculty">
				<i class="bi bi-building"></i>
				<a href="{{faculty.url}}" class="text-body text-decoration-none">
					<span class="text-decoration-underline">{{faculty.name}}</span>
					<i class="h6 bi bi-box-arrow-up-right"></i>
				</a>
			</h5>
			<h5 title="Subject">
				<i class="bi bi-journals"></i></i>
				<a href="{{subject.url}}" class="text-body text-decoration-none">
					<span class="text-decoration-underline">{{subject.name}}</span>
					<i class="h6 bi bi-box-arrow-up-right"></i>
				</a>
			</h5>
		</div>
	</div>

	<!--Other info-->
	<div class="col-12 col-md-5 col-lg-4 row pt-2 pt-md-3 ps-4 ps-md-3 pe-0">
		<!--Extra info-->
		<div class="card border-0 col-12 col-sm-6 col-md-12 ps-2 pe-2 ps-sm-0 ps-md-2 pb-1">
			<div class="card-body p-0">
				{% if course.aka %}
				<div title="Also known as" class="fst-italic">
					<span class="fw-bold">AKA:</span>
					{{course.aka}}
				</div>
				{% endif %}

				<div title="Units" class="fst-italic">
					<span class="fw-bold">Units:</span>
					{{course.units}}
				</div>

				<div title="Repeat for credit" class="fst-italic">
					<span class="fw-bold">Repeat for credit:</span>
					{% if course.repeat %}Yes{% else %}No{% endif %}
				</div>

				<div title="Count GPA" class="fst-italic">
					<span class="fw-bold">Included in GPA:</span>
					{% if course.countgpa %}Yes{% else %}No{% endif %}
				</div>
			</div>
		</div>
		<!--Links-->
		<div class="card border-0 col-12 col-sm-6 col-md-12 ps-2 pe-2 pe-sm-0 pe-md-2 pb-1">
			<div class="card-body p-0">
				<div>
					<a href="{{course.url_uni}}" target="_blank" rel="noopener noreferrer" class="text-body text-decoration-none">
						<span class="text-decoration-underline">View in official Uni calendar</span>
						<i class="bi-box-arrow-up-right"></i>
					</a>
				</div>
				<div>
					<a href="{{redditSearch}}" target="_blank" rel="noopener noreferrer" class="text-body text-decoration-none">
						<span class="text-decoration-underline">Search on r/UCalgary</span>
						<i class="bi-box-arrow-up-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<!--LEFT-->
	<div class="order-2 order-sm-1 col-12 col-sm-6 col-md-7 col-lg-8 pe-0">
		<!--Course Info-->
		<div class="container p-0 ps-lg-4 row mb-4">
			{% macro textCard(title, content, tooltip) %}
			<div class="col-12 col-lg-6 p-2 pe-0 pe-md-2">
				<div class="card h-100">
					<div class="card-body">
						<div class="d-flex justify-content-between mb-2">
							<span class="h3 m-0">{{title}}</span>
							{% if tooltip %}
							<i class="bi-info-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="{{tooltip}}"></i>
							{% endif %}
						</div>
						
						<p class="mb-2">
							{% if content %}
								{% set lines = content.split("\n") %}
								{% for line in lines %}
									{{line}}
									{% if not loop.last %}<br>{% endif %}
								{% endfor %}
							{% else %}
								<span class="fst-italic">None</span>
							{% endif %}
						</p>
					</div>
				</div>
			</div>
			{% endmacro %}

			{{textCard("Description", course.desc)}}

			{{textCard("Notes", course.notes, "This contains any information that may be helpful regarding enrolment in the course.")}}

			{{textCard("Prerequisites", course.prereqs, "Courses that must be completed or currently registered in before a student may be able to register in this course.")}}

			{{textCard("Antirequisites", course.antireqs, "Students may take these courses if they wish, but credit for both courses will not be granted towards their degree.")}}

			{% if course.coreqs %}
			{{textCard("Corequisites", course.coreqs, "Must be completed at the same time as this class.")}}
			{% endif %}
		</div>

		<!--Comments-->
		<div class="container ps-2 ps-lg-4 pe-0 row">
			<hr>
			<div>
				<h3>Discussion</h3>
				{% if not DEBUG %}
				{{disqusThread(request.url, course.id)}}
				{% endif %}
			</div>
		</div>
	</div>

	<!--RIGHT-->
	<div class="order-1 order-sm-2 col-12 col-sm-6 col-md-5 col-lg-4 p-2">
		<div class="sticky-sm-top sticky-offset">
			<!--User data-->
			<div class="card bg-light">
				<div class="card-body">
					<!--Tags-->
					<div id="tags">
						<div class="d-flex justify-content-between mb-2">
							<h4 class="m-0">Tags</h4>
							{% if current_user.is_authenticated %}
							<button class="tags-dropdown-btn btn btn-secondary btn-sm badge dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="Add tags">
								Add tags
							</button>
							<ul class="tags-dropdown dropdown-menu fs-6 py-1"></ul>
							{% endif %}
						</div>
						{% if current_user.is_authenticated %}
						<div class="loading fst-italic">Loading...</div>
						{% endif %}
						<div class="tags-selected"></div>
						{% if not current_user.is_authenticated %}
						<span class="fst-italic">
							You must be logged in to see and add tags to this course
						</span>
						{% endif %}
					</div>

					<hr class="my-4">
		
					<!--Course collections-->
					<div id="collections">
						<div class="d-flex justify-content-between mb-2">
							<h4 class="m-0">Terms taken</h4>
							
							{% if current_user.is_authenticated %}
							<button class="collections-dropdown-btn btn btn-secondary btn-sm badge dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="Add tags">
								Add to term
							</button>
							<ul class="collections-dropdown dropdown-menu fs-6 py-1">
								{% for collection in collections %}
								<li>
									<a class="dropdown-item px-2 py-1" style="cursor: pointer;" {% if not hasCourse(collection) %}onclick="addCollection('{{collection.id}}')"{% endif %}>
										<i class="bi-check {% if not hasCourse(collection) %}invisible{% endif %}"></i>
										{% if collection.transfer %}
										<small>Transferred</small>
										{% else %}
										<small>{{collection.term.name | capitalize}}</small>
										{% endif %}
									</a>
								</li>
								{% endfor %}
								<li><hr class="dropdown-divider my-1"></li>
								<li>
									<a class="dropdown-item px-2 p-y1" href="{{url_for('view.planner')}}">
										<i class="bi-pencil-square"></i>
										<small>Edit in My Planner</small>
									</a>
								</li>
							</ul>
							{% endif %}
						</div>

						{% if current_user.is_authenticated %}
						<div class="card bg-light">
							<ul class="list-group list-group-flush">
								{% for uCourse in userCourses %}
								<li class="list-group-item">
									<div class="d-flex justify-content-between">
										{% if uCourse.collection.transfer %}
										<span>Transferred</span>
										{% else %}
										<span>{{uCourse.collection.term.name | capitalize}}</span>
										{% endif %}
										<span class="font-monospace" title="{{uCourse.grade.gpv}}">
											{{uCourse.grade.symbol}}
										</span>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
						{% else %}
						<span class="fst-italic">
							You must be logged in to see the terms in which you took this course
						</span>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}