{% extends "layout.html" %}

{% from "components/pagination.html" import paginationNav, paginationCode with context %}

{% block headscripts %}
<script>
	var subjects = JSON.parse('{{ filterData["subjects"] | tojson | safe }}')
	let sortOptions = JSON.parse('{{ sortOptions | tojson | safe }}')

	function collapse(element) {
		$(element).find(".toggleOn").toggle()
		$(element).find(".toggleOff").toggle()
	}
</script>
{{ paginationCode() }}
<script src="/static/scripts/courseBrowser.js"></script>
{% endblock %}

{% block templates %}
<!--Course Item-->
<div class="course-item mb-3 card">
	<div class="card-body px-1 py-2">
		<!--Course Link-->
		<a class="course-link row m-0 text-decoration-none text-body" href="">
			<!--Course emoji and code-->
			<div class="col-12 col-md-5 col-lg-4 col-xl-3 ps-2 px-lg-3 ps-xl-4 h4 m-0 d-flex align-items-bottom">
				<span class="course-emoji p-0 m-0 me-2"></span>
				<span class="course-code p-0 m-0 font-monospace"></span>
			</div>
			<!--Course name-->
			<div class="col-12 col-md-7 col-lg-8 col-xl-9 ps-2 ps-lg-0 pe-2">
				<div class="course-name p-0 m-0 h5"></div>
			</div>
		</a>
		<div class="row m-0 p-0">
			<!--Separator-->
			<div class="h4 m-0 col-0 col-md-5 col-lg-4 col-xl-3"></div>

			<!--Tags-->
			<div class="course-tags col-7 col-xs-6 col-sm-12 col-lg-5 col-xl-7 ps-2 ps-lg-0 pe-1">
				<span class="tags-selected p-0 m-0"></span>
				<div class="btn-group">
					<button class="tags-dropdown-btn btn btn-secondary btn-sm badge dropdown-toggle" type="button"
						data-bs-toggle="dropdown" aria-expanded="false" title="Add tags">
						<i class="bi-tag-fill"></i>
					</button>
					<ul class="dropdown-menu fs-6 py-1">
						<div class="tags-dropdown"></div>
						<li><hr class="dropdown-divider my-1"></li>
						<li>
							<a class="dropdown-item px-2 p-y1" data-bs-toggle="modal" data-bs-target="#modalEditTags">
								<i class="bi-pencil-square"></i>
								<small>Edit tags</small>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<!--Collections-->
			<div class="course-collections col-5 col-sm-12 col-lg-3 col-xl-2 ps-2 ps-lg-0 pe-1 text-end text-sm-start text-lg-end">
				<button class="collections-dropdown-btn btn btn-secondary btn-sm badge dropdown-toggle"
					type="button" data-bs-toggle="dropdown" aria-expanded="false" title="Add to terms"></button>
				<ul class="collections-dropdown dropdown-menu fs-6 mt-1">
					{% for collection in collections %}
					<li class="collections-dropdown-item" db-id="{{collection.id}}">
						<a class="dropdown-item px-2 py-1">
							<i class="bi-check invisible"></i>
							{% if collection.transfer %}
							<small>Transferred</small>
							{% else %}
							<small>{{collection.term.name | capitalize}}</small>
							{% endif %}
						</a>
					</li>
					{% endfor %}
					<li>
						<hr class="dropdown-divider my-1">
					</li>
					<li>
						<a class="dropdown-item px-2 p-y1" href="{{url_for('view.planner')}}">
							<i class="bi-pencil-square"></i>
							<small>Edit in My Planner</small>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--Subject search item-->
<span class="subject-item badge btn btn-secondary border-secondary px-1 py-1 m-1 ms-0 font-monospace text-light fs-6 fw-normal cursor-pointer" title="Click to remove"></span>
<!--Subject search suggestion-->
<li class="subject-suggestion">
	<a class="dropdown-item form-control-sm px-2 py-1" href="#">
		<span class="code font-monospace"></span> - <span class="name"></span>
	</a>
</li>
<!--Course tag selected item-->
<span class="tag-selected-item btn badge btn-secondary px-1 me-1 cursor-pointer" title="Click to remove tag">
	<span class="tag-color d-none"><i class="bi-circle-fill"></i></span>
	<span class="tag-emoji d-none"></span>
	<span class="tag-name"></span>
</span>
<!--Course tag dropdown item-->
<li class="tags-dropdown-item" db-id="">
	<a class="dropdown-item px-2 py-1">
		<i class="tag-selected bi-check invisible"></i>
		<small class="tag-name"></small>
	</a>
</li>
{% endblock %}

{% block content %}

<div class="row justify-content-between">
	<!--LEFT: sort and filter options form-->
	<div class="container col-12 col-sm-5 col-lg-4 col-xl-3 m-0 pe-3 pe-md-3 ps-3 ps-sm-0 pt-0 pb-3">
		<div class="sticky-sm-top sticky-offset">
			<form id="formFilterCourses" name="formFilterCourses" method="POST">
				<!--Search-->
				<div class="card bg-light mb-2">
					<div class="card-body">
						<h5 class="card-title">Search courses</h5>
						<input class="form-control form-control-sm" type="search" name="search"
							placeholder="Type something...." id="searchCourses">
					</div>
				</div>

				<!--Filter-->
				<div class="card bg-light">
					<div class="card-body">
						<h5 class="card-title">Filter results</h5>
						<!--Extra filters-->
						<fieldset class="form-group">
							<div class="row">
								<div class="col-5 col-sm-12 col-xxl-5 pe-0">
									<small>Repeat for credit</small>
								</div>
								<div class="col ps-0 ps-sm-2 ps-xxl-0 text-end text-sm-start text-xxl-end">
									<div class="form-check form-check-inline me-1 px-0">
										<input class="form-check-input mx-1" type="radio" name="repeat"
											id="repeatTrue" value="true">
										<label class="form-check-label" for="repeatTrue">
											<small>Yes</small>
										</label>
									</div>
									<div class="form-check form-check-inline me-1 px-0">
										<input class="form-check-input mx-1" type="radio" name="repeat"
											id="repeatFalse" value="false">
										<label class="form-check-label" for="repeatFalse">
											<small>No</small>
										</label>
									</div>
									<div class="form-check form-check-inline me-1 px-0">
										<input class="form-check-input mx-1" type="radio" name="repeat"
											id="repeatNull" value="null" checked>
										<label class="form-check-label" for="repeatNull">
											<small>Any</small>
										</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-5 col-sm-12 col-xxl-5 pe-0">
									<small>Included in GPA</small>
								</div>
								<div class="col ps-0 ps-sm-2 ps-xxl-0 text-end text-sm-start text-xxl-end">
									<div class="form-check form-check-inline me-1 px-0">
										<input class="form-check-input mx-1" type="radio" name="countgpa"
											id="countgpaTrue" value="true">
										<label class="form-check-label" for="countgpaTrue">
											<small>Yes</small>
										</label>
									</div>
									<div class="form-check form-check-inline me-1 px-0">
										<input class="form-check-input mx-1" type="radio" name="countgpa"
											id="countgpaFalse" value="false">
										<label class="form-check-label" for="countgpaFalse">
											<small>No</small>
										</label>
									</div>
									<div class="form-check form-check-inline me-1 px-0">
										<input class="form-check-input mx-1" type="radio" name="countgpa"
											id="countgpaNull" value="null" checked>
										<label class="form-check-label" for="countgpaNull">
											<small>Any</small>
										</label>
									</div>
								</div>
							</div>
						</fieldset>

						<!--Course levels-->
						<fieldset class="form-group">
							<hr class="mt-1 mb-2">
							<div data-bs-toggle="collapse" href="#levelSelector" role="button" aria-expanded="false"
								aria-controls="levelSelector" id="levelLabel" onclick="collapse(this)">
								<span class="toggleOff">
									<small><i class="bi-chevron-right"></i></small>
								</span>
								<span class="toggleOn disabled">
									<small><i class="bi-chevron-down"></i></small>
								</span>
								<label for="levelSelector" class="ms-1 form-label text-uppercase">
									<small>Course levels</small>
								</label>
							</div>
							<div class="form-group mb-2 collapse" id="levelSelector">
								{% for l, sel in filterData["levels"].items() %}
								<div class="form-check">
									<input id="level{{l}}" name="selectedLevel" class="form-check-input" type="checkbox"
										value="{{l}}" {% if sel %}checked{% endif %}>
									<label class="form-check-label" for="level{{l}}">
										<small>{{l}}XX</small>
									</label>
								</div>
								{% endfor %}
								<button type="button" class="uncheck-all-btn btn btn-secondary btn-sm ms-4 px-1 py-0"
									onclick="uncheckAll('levelSelector')">
									Uncheck all
								</button>
								<button type="button" class="check-all-btn btn btn-secondary btn-sm ms-4 px-1 py-0"
									onclick="checkAll('levelSelector')">
									Check all
								</button>
							</div>
						</fieldset>

						<!--Faculties-->
						<fieldset class="form-group">
							<hr class="mt-1 mb-2">
							<div data-bs-toggle="collapse" href="#facSelector" role="button" aria-expanded="false"
								aria-controls="facSelector" id="facLabel" onclick="collapse(this)">
								<span class="toggleOff">
									<small><i class="bi-chevron-right"></i></small>
								</span>
								<span class="toggleOn disabled">
									<small><i class="bi-chevron-down"></i></small>
								</span>
								<label for="facSelector" class="ms-1 form-label text-uppercase">
									<small>Faculties</small>
								</label>
							</div>
							<div class="form-group mb-2 collapse" id="facSelector">
								{% for f, data in filterData["faculties"].items() %}
								<div class="form-check">
									<input id="fac{{f}}" class="form-check-input" type="checkbox" value="{{f}}"
										name="selectedFaculty" {% if data["sel"] %}checked{% endif %}>
									<label class="form-check-label" for="fac{{f}}">
										<small>{{data["name"]}}</small>
									</label>
								</div>
								{% endfor %}
								<button type="button" class="uncheck-all-btn btn btn-secondary btn-sm ms-4 px-1 py-0"
									onclick="uncheckAll('facSelector')">
									Uncheck all
								</button>
								<button type="button" class="check-all-btn btn btn-secondary btn-sm ms-4 px-1 py-0"
									onclick="checkAll('facSelector')">
									Check all
								</button>
							</div>
						</fieldset>

						<!--Subjects-->
						<fieldset class="form-group">
							<hr class="mt-1 mb-2">
							<span>
								<small><i class="bi-chevron-down"></i></small>
							</span>
							<label for="subjectSearch" class="ms-1 mb-0 form-label text-uppercase">
								<small>Subjects</small>
							</label>
							<div id="subjectSelector" class="d-flex flex-wrap ms-3 ps-1"></div>
							<div class="ms-3 ps-1">
								<input class="form-control form-control-sm mr-sm-2 mt-1" type="search"
									placeholder="Enter subject code" aria-label="Search subjects" id="subjectSearch"
									name="subjectSearch" data-bs-toggle="dropdown" aria-expanded="false"
									autocomplete="off">
								<ul id="subjectSearchSuggestions" class="dropdown-menu p-0"
									aria-labelledby="subjectSearch">
								</ul>
							</div>
						</fieldset>
					</div>
				</div>
			</form>
			<p class="my-2 text-center text-secondary d-none d-lg-block">
				<span class="loaded"><span class="num-total">...</span> results found</span>
				<span class="loading">Loading...</span>
			</p>
		</div>
	</div>

	<!--RIGHT: Courses list and page navigation-->
	<div class="container col-12 col-sm-7 col-lg-8 col-xl-9 m-0 p-0 px-3 px-md-4 px-lg-5">
		<div class="row mb-2 mb-lg-3 justify-content-between">
			<!--Sort options-->
			<div class="col-12 col-lg-7 col-xl-5 pe-lg-0">
				<div id="sortSelector" class="input-group input-group-sm">
					<span class="input-group-text bg-light" title="Sort by">
						<i class="bi-sort-down fw-bold"></i>
					</span>
					<select id="sortBy" name="sortBy" class="form-select bg-light" aria-label="Sort options">
						{% for option in sortOptions %}
						<option value="{{loop.index0}}" {% if loop.index0 == 0 %}selected{% endif %}>
							{{option.label}}
						</option>
						{% endfor %}
					</select>
					<select id="orderBy" name="orderBy" class="form-select bg-light" aria-label="Sort options">
						<option value="1" selected>Ascending</option>
						<option value="0">Descending</option>
					</select>
				</div>
			</div>
			<!--Page indicator-->
			<div class="col ps-lg-4 text-secondary d-flex justify-content-between align-items-center">
				<div>
					<span class="loaded d-lg-none"><span class="num-total">...</span> results found</span>
					<span class="loading d-lg-none">Loading...</span>
				</div>
				<div>
					Page <span class="num-page">1</span> / <span class="num-pages">1</span>
				</div>
			</div>
		</div>

		<!--Loading spinner-->
		<div class="loading text-center py-4">
			<div class="spinner-border" style="width: 4rem; height: 4rem;" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>

		<!--Courses list-->
		<div id="coursesContainer" class="loaded"></div>

		<!--Page navigation-->
		{{paginationNav()}}
	</div>
</div>

{% endblock %}