{% extends "layout.html" %}

{% block headscripts %}
<script>
	var subjects = JSON.parse('{{ subjects | tojson | safe }}')
</script>
<script src="/static/scripts/faculty.js"></script>
{% endblock %}

{% block styles %}
<style>
	@media (min-width: 768px) {
		span.h1 {
			margin-left: 1em;
		}
	}
</style>
{% endblock %}

{% block templates %}
<!--Subject Item-->
<div class="subject-item mb-3 card">
	<a class="subject-link m-0 p-0 text-decoration-none text-body" href="">
		<div class="card-body px-3 px-md-4 py-1 py-md-2">
			<span class="h4 me-1 me-md-2 me-xl-3">
				<span class="subject-emoji p-0 m-0 me-1 me-md-2"></span>
				<span class="subject-code p-0 m-0 font-monospace fw-bold d-inline-block" style="width:4rem;"></span>
			</span>
			<br class="d-sm-none">
			<span class="subject-name p-0 m-0 h5"></span>
		</div>
	</a>
</div>
{% endblock %}

{% block content %}

<!--Faculty Code-->
<div class="mb-2">
	<span class="h3 font-monospace align-top">f/</span><span class="h3 align-middle font-monospace border border-2 border-secondary bg-light rounded p-1 my-0 mx-1">{% if faculty.subdomain %}{{faculty.subdomain}}{% else %}{{faculty.id}}{% endif %}</span>
	<span class="align-bottom text-muted fs-6">(#{{faculty.id}})</span>
</div>

<!--Header-->
<div class="row">
	<h1 class="mt-2 mb-3 mb-lg-4">{{faculty.name}}</h1>
</div>

<div class="row mb-1 px-0 px-lg-3">
	<!--Faculty Subjects-->
	<div class="order-2 order-lg-1 col-12 col-lg-7 col-xxl-8">
		<div class="container px-0 px-md-4">
			<div class="row mb-3 mt-0">
				<!--Heading-->
				<div class="col-12 col-sm-5 col-md-6 col-lg-12 col-xl-6 col-xxl-7 pe-0">
					<h2 class="m-0">Subjects in this faculty</h2>
				</div>

				<!--Sorting options-->
				<div id="subjectsSort" class="col-12 col-sm-7 col-md-6 col-lg-12 col-xl-6 col-xxl-5">
					<div class="input-group input-group-sm mt-2 ps-0 ps-lg-3 ps-xl-0">
						<span class="input-group-text bg-light" title="Sort by">
							<i class="bi-sort-down fw-bold"></i>
						</span>
						<select id="sortBy" name="sortBy" class="form-select bg-light"
							aria-label="Sort options" title="Sort by">
							<option value="code" selected>
								Code
							</option>
							<option value="name">
								Name
							</option>
						</select>
						<select id="orderBy" name="orderBy" class="form-select bg-light"
							aria-label="Sort options" title="Order by">
							<option value="1" selected>Ascending</option>
							<option value="0">Descending</option>
						</select>
					</div>
				</div>
			</div>
			
			<!--Subjects list-->
			<div class="container ps-0 ps-sm-3 pe-0" id="subjectsContainer"></div>
		</div>
	</div>

	<!--Side bar-->
	<div class="order-1 order-lg-2 col-12 col-lg-5 col-xxl-4 pt-2">
		<div class="sticky-lg-top sticky-offset row p-0 mb-4 mx-0 mx-md-4 mx-lg-0 mx-xl-4">
			<!--Stats-->
			<div class="col-12 col-md-6 col-lg-12 px-0 pe-md-2 pe-lg-0">
				<div class="card bg-light mt-0 mb-2">
					<div class="card-body">
						<div class="fs-5">
							{% for col, amount in len.items() %}
							<div class="row ps-0 pe-3 pe-md-2 pe-lg-0">
								<div class="col-2 col-md-3 col-lg-2 p-0 pe-2 fw-bold text-end">{{amount}}</div>
								<div class="col px-0">{{col | capitalize}} in this faculty</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

			<!--Links-->
			<div class="col-12 col-md-6 col-lg-12 px-0 ps-md-2 ps-lg-0">
				<div class="card bg-light mt-0 mb-2">
					<div class="card-body">
						<div>
							<a class="text-decoration-none text-body" href="{{url_for('view.courseBrowser', faculty=faculty.id)}}">
								<span class="text-decoration-underline">View courses in Course Browser</span>
								<i class="bi bi-box-arrow-up-right"></i>
							</a>
						</div>
						{% if faculty.url_uni %}
						<div>
							<a class="text-decoration-none text-body" href="{{faculty.url_uni}}" target="_blank" rel="noopener noreferrer">
								<span class="text-decoration-underline">Go to official faculty site</span>
								<i class="bi bi-box-arrow-up-right"></i>
							</a>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}