{% extends "layout.html" %}

{% block headscripts %}
<script>
	function loginWithUsername() {
		$("#loginForm #uname-field input").val("")
		$("#loginForm #uname-field").removeClass("d-none")
		$("#loginForm #email-field input").val("xxxx@xxxx.xxx")
		$("#loginForm #email-field").addClass("d-none")

		$("#useuname").prop("checked", true)
		$("#useuname").val("true")
	}

	function loginWithEmail() {
		$("#loginForm #uname-field input").val("xxxx")
		$("#loginForm #uname-field").addClass("d-none")
		$("#loginForm #email-field input").val("")
		$("#loginForm #email-field").removeClass("d-none")

		$("#useuname").prop("checked", false)
		$("#useuname").val("false")
	}
</script>
{% endblock %}

{% block content %}

<div class="row d-flex justify-content-center">
	<form id="loginForm" method="POST" class="col-sm-10 col-md-6 col-lg-4">
		{{form.hidden_tag()}}

		<fieldset class="form-group">
			{{form.useuname(class="d-none")}}
	
			<!--Username-->
			<div id="uname-field" class="form-group mb-2">
				<div class="d-flex justify-content-between">
					{{form.uname.label(class="form-control-label fs-5")}}
					<a onclick="loginWithEmail()" class="text-decoration-underline">Login with email</a>
				</div>

				{% if form.uname.errors %}
					{{form.uname(class="form-control is-invalid")}}
					<div class="invalid-feedback">
						{% for error in form.uname.errors %}
							<span>{{error}}</span><br>
						{% endfor %}
					</div>
				{% else %}
					{{form.uname(class="form-control")}}
				{% endif %}
			</div>

			<!--Email-->
			<div id="email-field" class="form-group mb-2 d-none">
				<div class="d-flex justify-content-between">
					{{form.email.label(class="form-control-label fs-5")}}
					<a onclick="loginWithUsername()" class="text-decoration-underline">Login with username</a>
				</div>

				{% if form.email.errors %}
					{{form.email(class="form-control is-invalid")}}
					<div class="invalid-feedback">
						{% for error in form.email.errors %}
							<span>{{error}}</span><br>
						{% endfor %}
					</div>
				{% else %}
					{{form.email(class="form-control")}}
				{% endif %}
			</div>

			<!--Password-->
			<div class="form-group mb-2">
				{{form.passw.label(class="form-control-label fs-5")}}

				{% if form.passw.errors %}
					{{form.passw(class="form-control is-invalid")}}
					<div class="invalid-feedback">
						{% for error in form.passw.errors %}
							<span>{{error}}</span>
						{% endfor %}
					</div>
				{% else %}
					{{form.passw(class="form-control")}}
				{% endif %}
			</div>

			<!--Remember me-->
			<div class="form-checked">
				{{form.remember(class="form-check-input")}}
				{{form.remember.label(class="form-check-label")}}
			</div>
		</fieldset>
		<br>
		<div class="form-group">
			{{form.submit(class="btn btn-outline-info")}}
		</div>
	</form>
</div>

{% endblock %}

{% block tailscripts %}
{% if form.email.errors %}
<script>
	$(document).ready(loginWithEmail)
</script>
{% else %}
<script>
	$(document).ready(loginWithUsername)
</script>
{% endif %}
{% endblock %}