{% extends "layout.html" %}

{% block scripts %}
<script>
	var grades = JSON.parse('{{ grades | tojson | safe }}')
	var showTransferred = JSON.parse('{{ transferred | tojson | safe }}')
</script>
<script src="/static/scripts/planner.js"></script>
{% endblock %}

{% block content %}

<!--Courses per term-->
<div class="container-fluid mb-5">
	<div class="d-flex justify-content-between">
		<h2 class="m-0">Courses per term</h2>

		<button type="button" class="btn btn-secondary m-0 py-0" data-bs-toggle="modal" data-bs-target="#modalAddCollection">
			<i class="bi-calendar-plus-fill"></i>
			Add term
		</button>
	</div>

	<div id="collectionsContainer" class="row flex-nowrap overflow-scroll pt-3">
		<div class="transfer-collapsed col-2 col-md-1 px-2">
			<div class="card h-100 text-body text-decoration-none" onclick="transferredShow()" title="Show transferred courses" style="cursor: pointer;">
				<div class="bg-light text-center h-100 d-flex justify-content-center">
					<span class="h5 lh-1" style="writing-mode: vertical-lr; text-orientation: sideways; transform: rotate(180deg);">
						<span class="align-top">Transferred</span>
						<i class="bi-caret-down-fill fs-4"></i>
					</span>
				</div>
			</div>
		</div>
		{% for collection in collections %}
		<div id="{{collection.id}}" class="{% if collection.transfer %}transfer{% endif %} collection-item col-10 col-sm-7 col-md-5 col-lg-4 col-xl-3 px-2" db-id="{{collection.id}}" db-units="" db-points="" db-gpa="" db-term="{% if collection.transfer %}Transferred{% else %}{{collection.term.name | capitalize}}{% endif %}">
			<div class="card h-100">
				{% if not (collection.transfer or collection.userCourses) %}
				<form action="{{url_for('view.delCourseCollection')}}" method="POST">
					<input type="hidden" name="id" value="{{collection.id}}">
					<button class="position-absolute top-0 start-100 translate-middle badge rounded-pill btn btn-light border-secondary" title="Remove term">
						<i class="bi-x-lg text-secondary"></i>
						<span class="visually-hidden">Remove term</span>
					</button>
				</form>
				{% elif collection.transfer %}
				<button class="position-absolute top-0 start-100 translate-middle badge rounded-pill btn btn-light border-secondary" title="Hide transferred" onclick="transferredHide()">
					<i class="bi-x-lg text-secondary"></i>
					<span class="visually-hidden">Hide</span>
				</button>
				{% endif %}
				<div class="card-header text-center">
					<span class="h5" title="Term season and year">
						{% if collection.transfer %}
							Transferred
						{% else %}
							{{collection.term.name | capitalize}}
							{% if collection.term.isCurrent() %}
							<i class="fs-6 bi-circle-fill text-success" data-bs-toggle="tooltip" data-bs-placement="right" title="Current"></i>
							{% endif %}
						{% endif %}
					</span>
					<div class="m-0 text-muted fst-italic lh-1" style="height: 1rem;">
						{% if collection.transfer %}
						<small></small>
						{% else %}
						<small title="Start date">{{collection.term.start}}</small>
						<i class="bi-arrow-right-short"></i>
						<small title="End date">{{collection.term.end}}</small>
						{% endif %}
					</div>
				</div>
				<div class="collection-course-container card-body p-1" db-id="{{collection.id}}">
					{% for uCourse in collection.userCourses | sort(attribute="course.code") %}
					{% set course = uCourse.course %}
					<div class="collection-course-item m-1 btn bg-light card" db-id="{{uCourse.id}}" db-term="{% if collection.transfer %}Transferred{% else %}{{collection.term.name | capitalize}}{% endif %}" db-passed="{{uCourse.passed | tojson | safe}}" db-grade="{{uCourse.grade.id}}" db-code="{{course.code}}" db-name="{{course.name}}" db-url="{{course.url}}" db-units="{{course.units}}" db-repeat="{{course.repeat | tojson | safe}}" db-countgpa="{{course.countgpa | tojson | safe}}" draggable="true"
						data-bs-toggle="modal" data-bs-target="#modalInfoUserCourse" title="Click to view or drag to change term">
						<div class="row">
							<span class="emoji col-3 h5 p-0 m-0">
								&#{{uCourse.course.emoji}}
							</span>
							<span class="code col-6 font-monospace">
								{{uCourse.course.code}}
							</span>
							{% set gpv = uCourse.grade.gpv if uCourse.grade.gpv else "-" %}
							{% set weightedGPV = uCourse.weightedGPV if uCourse.weightedGPV else "-" %}
							<span class="grade col-3 font-monospace text-start" title="{% if uCourse.grade%}{{gpv}} GPV | {{weightedGPV}} Weighted{% else %}Grade not set{% endif %}">
								{% if uCourse.grade %}
								{{uCourse.grade.symbol}}
								{% else %}
								-
								{% endif %}
							</span>
						</div>
						<div class="edit position-absolute end-0 pe-2">
							<i class="bi-pencil-fill"></i>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="pb-2 text-center">
					<a class="add-course text-body" href="" data-bs-toggle="modal" data-bs-target="#modalAddCourse" db-id="{{collection.id}}">
						Add course
					</a>
				</div>
				<div class="card-footer">
					<div class="row">
						<span class="col-3">
							<div class="form-check form-switch" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Show in overall GPA">
								<input class="countInGPA form-check-input" type="checkbox" role="switch">
							</div>
						</span>
						<span class="col-6 text-center">Term GPA:</span>
						<span class="col-3 font-monospace text-start collection-gpa pe-0">
							<span class="gpa" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">
								{% if collection.gpa %}{{collection.gpa}}{% endif %}
							</span>
							<span class="nogpa pe-2 {% if collection.gpa %}d-none{% endif %}" style="cursor: default;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="One or more courses don't have a grade or they don't count towards the GPA">
								-
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="col-6 col-sm-3 col-lg-2 card mx-2 p-0">
			<div class="card-body btn btn-light" id="btnAddTerm" data-bs-toggle="modal" data-bs-target="#modalAddCollection">
				<div class="h-100 d-flex flex-column align-content-center text-muted">
					<div class="mt-auto"><i class="bi-plus-lg display-4"></i></div>
					<div class="h5 mb-auto">Add term</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Overall GPA-->
<div class="container">
	<div id="overallGPA" class="row ms-0">
		<div class="col-12 col-lg-5 col-xl-6 col-xxl-3 h2 ps-0">
			<span class="">Overall GPA:</span>
			<span class="final-gpa ms-4 font-monospace">3.2</span>
		</div>
		<div class="col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5 px-1 card ms-xxl-4">
			<div class="card-body px-2">
				<div id="overallCollectionContainer"></div>
				<div class="row">
					<span class="col-8 col-sm-9 ps-2 ps-lg-3 pe-4"><hr class="my-2"></span>
				</div>
				<div class="row">
					<span class="col-6 col-sm-7 text-end ps-2"></span>
					<span class="col-6 col-sm-5 px-0 font-monospace">
						<span class="sum-points" title="Sum of points">-</span>
						/
						<span class="sum-units" title="Sum of units">-</span>
						=
						<span class="final-gpa fw-bold" title="Overall GPA">-</span>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Info modals-->
<div class="modal fade" id="modalInfoUserCourse" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Course info</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body px-4">
				<!--Term-->
				<div class="row">
					<div class="col-3">
						<span class="h5">Term</span>
					</div>
					<div class="col">
						<span class="term fs-5"></span>
					</div>
				</div>
				<hr>
				<!--Course-->
				<div class="row">
					<div class="col-3">
						<span class="h5">Course</span>
					</div>
					<div class="col">
						<div class="fs-5">
							<span class="emoji" title="Course emoji"></span>
							<a class="link text-decoration-none text-body" href="" target="_blank" rel="noopener noreferrer">
								<span class="code text-decoration-underline font-monospace" title="Course code"></span>
								<i class="bi-box-arrow-up-right"></i>
							</a>
						</div>
						<div>
							<span class="name" title="Course name"></span>
						</div>
						<div>
							<span class="fw-bold">Units:</span>
							<span class="units"></span>
						</div>
						<div>
							<span class="fw-bold">Repeat for credit:</span>
							<span class="repeat"></span>
						</div>
						<div>
							<span class="fw-bold">Included in GPA:</span>
							<span class="countgpa"></span>
						</div>
					</div>
				</div>
				<hr>
				<!--Grade-->
				<div class="row">
					<div class="col-3">
						<span class="h5">Grade</span>
					</div>
					<div class="col">
						<span class="grade-symbol fs-5 font-monospace" title="Grade symbol">-</span>
						<div>
							<span class="fw-bold">Description:</span>
							<span class="grade-desc"></span>
						</div>
						<div>
							<span class="fw-bold">GPV:</span>
							<span class="grade-gpv"></span>
						</div>
						<div>
							<span class="fw-bold">Passed:</span>
							<span class="grade-passed"></span>
						</div>
						<div class="mt-2">
							<span class="fw-bold">Weighted GPV:</span>
							<span class="grade-weighted" title="GPV x Units" data-bs-toggle="tooltip" data-bs-placement="right"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer d-flex justify-content-around">
				<button class="btn btn-primary" data-bs-dismiss="modal" onclick="$('#modalEditUserCourse').modal('show')">
					<i class="bi-pencil-fill"></i>
					Edit
				</button>
			</div>
		</div>
	</div>
</div>

<!--Form modals-->

<!--Form add CourseCollection-->
<form id="formAddCollection" name="formAddCollection" action="{{url_for('view.addCourseCollection')}}" method="POST">
	<div class="modal fade" id="modalAddCollection" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add term</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body px-5">
					<div class="row g-2">
						<div class="col-md">
							<div class="form-floating">
								<select class="form-select" id="selectSeason" name="season" aria-label="Select season">
									{% for season in seasons %}
									<option value="{{season.value}}">{{season.name | capitalize}}</option>
									{% endfor %}
								</select>
								<label for="selectSeason">Season</label>
							</div>
						</div>
						<div class="col-md">
							<div class="form-floating">
								<select class="form-select" id="selectYear" name="year" aria-label="Select year">
									{% for year in years %}
									<option value="{{year}}">{{year}}</option>
									{% endfor %}
								</select>
								<label for="selectYear">Year</label>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-around">
					<button type="submit" class="btn btn-primary">Add</button>
				</div>
			</div>
		</div>
	</div>
</form>

<!--Form add UserCourse-->
<form id="formAddCourse" name="formAddCourse" action="{{url_for('view.addUserCourse')}}" method="POST">
	<div class="modal fade" id="modalAddCourse" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add course to term</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body px-5">
					<input type="number" name="collection_id" id="selectCollectionId" value="" readonly hidden>
					<input type="number" name="course_id" id="selectCourseId" value="" readonly hidden>
					<div class="d-flex flex-row justify-content-center">
						<!--Subject code-->
						<input type="text" class="selectSubject form-control form-control-lg fs-4 font-monospace text-end border-2 border-secondary bg-light text-body align-middle" id="selectCourseSubject" minlength="2" maxlength="4" value="" style="width: 4em;" autocomplete="off">

						<!--Separator-->
						<span class="h-100 p-2 m-0 fs-2 align-middle">–</span>

						<!--Course number-->
						<input type="text" class="selectNumber form-control form-control-lg fs-4 font-monospace text-begin border-2 border-secondary bg-light text-body align-middle px-3" id="selectCourseNumber" maxlength="3" value="" disabled style="width: 4em;" autocomplete="off">

						<!--Course exists status-->
						<div class="position-relative">
							<div class="status fs-4 h-100 position-absolute start-100 p-2 ps-3 d-flex flex-column justify-content-center" id="selectCourseStatus">
								<span class="error">
									<i class="bi-exclamation-circle-fill text-danger" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Course does not exist" title="Course does not exist"></i>
								</span>
								<span class="success">
									<i class="bi-check-circle-fill text-success" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Course exists" title="Course exists"></i>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-around">
					<button id="selectCourseSubmit" type="submit" class="submit btn btn-primary" disabled>Add</button>
				</div>
			</div>
		</div>
	</div>
</form>

<!--Form edit UserCourse-->
<form id="formEditUserCourse" name="formEditUserCourse" action="{{url_for('view.modUserCourse')}}" method="POST">
	<div class="modal fade" id="modalEditUserCourse" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit course</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body px-5">
					<!--Course-->
					<div class="row mb-2">
						<label for="selectCoursePlaceholder" class="col-3 col-form-label">Course</label>
						<div class="col-9">
							<input type="hidden" id="selectCourse" name="id" value="">
							<input type="text" id="selectCoursePlaceholder" class="form-control col-9" value="" disabled
								readonly>
						</div>
					</div>
					<!--Term-->
					<div class="row mb-2">
						<label class="col-3 col-form-label" for="selectCollection">Term</label>
						<div class="col-9">
							<select class="form-select" aria-label="Select term" name="collection_id"
								id="selectCollection">
								{% for collection in collections %}
								<option value="{{collection.id}}">
									{% if collection.transfer %}
									Transferred
									{% else %}
									{{collection.term.season.name | capitalize}} {{collection.term.year}}
									{% endif %}
								</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<!--Grade-->
					<div class="row">
						<label class="col-3 col-form-label" for="selectGrade">Grade</label>
						<div class="col-4">
							<select class="form-select" aria-label="Select grade" name="grade" id="selectGrade">
								<option value="0">-</option>
								{% for id, grade in grades.items() %}
								<option value="{{id}}">
									{{grade["symbol"]}}
								</option>
								{% endfor %}
							</select>
						</div>
						<label class="col-3 col-form-label">Passed</label>
						<div class="col-2 py-2">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" name="passedCheck" id="selectPassed">
							</div>
							<input class="form-check-input" type="radio" name="passed" id="selectPassedTrue" value="true" hidden>
							<input class="form-check-input" type="radio" name="passed" id="selectPassedFalse" value="false" hidden>
						</div>
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-around">
					<button type="submit" name="method" value="DELETE" class="btn btn-danger">Remove</button>
					<button type="submit" name="method" value="PUT" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</form>

<style>
.collection-course-item:hover, .tag-course-item:hover, #btnAddTerm:hover {
	background-color: var(--bs-gray-200) !important;
}

.collection-course-item .edit {
	display: none;
}

.collection-course-item:hover .edit {
	display: block;
}

.overall-collection-item .disable {
	display: none;
}

.overall-collection-item:hover .disable {
	display: block;
}

</style>

{% endblock %}