{% extends "layout.html" %}

{% block content %}

<div class="mb-3">
	<span class="h3 font-monospace align-top">s/</span><span class="h3 align-middle font-monospace border border-2 border-secondary bg-light rounded p-1 my-0 mx-1">{{subject.code}}</span>
	<span class="align-bottom text-muted fs-6">(#{{subject.id}})</span>
</div>

<div class="row mb-1">
	<!--Subject Header-->
	<div class="col-12 col-lg-7 col-xxl-8 mb-4">
		<h1 class="mt-2">&#{{subject.getEmoji()}} {{subject.name}}</h1>

		<h5 title="Faculty">
			<i class="bi-building"></i>
			<a href="{{faculty.url}}" class="text-decoration-none text-body">
				<span class="text-decoration-underline">{{faculty.name}}</span>
				<i class="h6 bi bi-box-arrow-up-right"></i>
			</a>
		</h5>
	</div>

	<!--Links-->
	<div class="col-12 col-lg-5 col-xxl-4">
		<div class="card bg-light">
			<div class="card-body">
				<div class="h5">{{lenCourses}} Courses in this subject</div>

				<div class="container">
					<div>
						<a class="text-body text-decoration-none" href="{{url_for('view.courseBrowser', subject=subject.code)}}">
							<span class="text-decoration-underline">View courses in Course Browser</span>
							<i class="bi-box-arrow-up-right"></i>
						</a>
					</div>
					<div>
						<a class="text-body text-decoration-none" href="{{subject.url_uni}}" target="_blank" rel="noopener noreferrer">
							<span class="text-decoration-underline">View courses in official Uni calendar</span>
							<i class="bi-box-arrow-up-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}