{% extends "layout.html" %}

{% block content %}

<div class="d-flex justify-content-between">
	<h2 class="m-0">Tags</h2>
	<button type="button" class="btn btn-secondary m-0 py-0" data-bs-toggle="modal" data-bs-target="#modalEditTags">
		<i class="bi-pencil-fill"></i>
		Edit Tags
	</button>
</div>

<div class="row pt-3">
	{% for tag in tags %}
	<div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-0 px-2 mb-3">
		<div class="card h-100">
			<div class="card-header text-center">
				{% if tag.emoji %}
					&#{{tag.emoji}}
				{% else %}
					<i class="bi-circle-fill" style="color: #{{tag.color_hex}};"></i>
				{% endif %}
				{{tag.name}}
			</div>
			<div class="tag-course-container card-body p-1" db-id="{{tag.id}}">
				{% for course in tag.courses | sort(attribute="subject.code") %}
					<a class="tag-course-item m-1 btn bg-light card" db-id="{{course.id}}"
						db-code="{{course.code}}" draggable="true" href="{{course.url}}" target="_blank" rel="noopener noreferrer" title="Click to open course in a new tab">
						<div class="row">
							<span class="col-3 h5 p-0 m-0">
								&#{{course.emoji}}
							</span>
							<span id="code" class="col-6 font-monospace">
								{{course.code}}
							</span>
							<span class="col-3">
								<i class="bi-box-arrow-up-right"></i>
							</span>
						</div>
					</a>
				{% endfor %}
			</div>
			<div class="card-footer"></div>
		</div>
	</div>
	{% endfor %}
</div>

<script>
$(document).ready(() => {
	tagsInit()
})
</script>

{% endblock %}